<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Compression</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.0.12')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.0.12
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../../features/compression/">3.0.0-alpha5</a></li>
                  
                    <li><a href="../../../2.2.0-rc3/features/compression/">2.2.0-rc3</a></li>
                  
                    <li><a href="../../../2.1.9/features/compression/">2.1.9</a></li>
                  
                    <li><a href="../../../2.1.8/features/compression/">2.1.8</a></li>
                  
                    <li><a href="../../../2.1.7/features/compression/">2.1.7</a></li>
                  
                    <li><a href="../../../2.1.6/">2.1.6</a></li>
                  
                    <li><a href="../../../2.1.5/">2.1.5</a></li>
                  
                    <li class="disabled"><a href="./">2.0.12</a></li>
                  
                    <li><a href="../../../2.0.11/features/compression/">2.0.11</a></li>
                  
                    <li><a href="../../../2.0.10.1/">2.0.10.1</a></li>
                  
                    <li><a href="../../../2.0.10/">2.0.10</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Compression</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li>
<a href="#compression">Compression
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#lz4">LZ4
</a></li>
<li><a href="#snappy">Snappy
</a></li>
</ul>
</li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../changelog/">Changelog <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../address_resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../async/">Asynchronous programming <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Compression <small>page</small></a>
    
  </li>
  
  
  
  
  <li>
    <a href="../pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../logging/">Logging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../metadata/">Metadata <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../native_protocol/">Native protocol <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../paging/">Paging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../ssl/">SSL <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../speculative_execution/">Speculative query execution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../statements/">Statements <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../shaded_jar/">Using the shaded JAR <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../faq/">Frequently Asked Questions <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../upgrade_guide/">Upgrade guide <small>page</small></a>
  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="compression" class="target">Compression<a class="anchor" href="#compression" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Cassandra’s binary protocol supports optional compression of
transport-level requests and responses, for example:</p>

<ul>
<li>a query with its serialized parameters;</li>
<li>a <a href="../paging/">page</a> from a result set, i.e. a list of serialized
rows.</li>
</ul>

<p>It reduces network traffic at the cost of CPU overhead, therefore it
will likely be beneficial when you have larger payloads.</p>

<p>Two algorithms are available:
<a href="https://github.com/jpountz/lz4-java">LZ4</a> and
<a href="https://code.google.com/p/snappy/">Snappy</a>.
Both rely on third-party libraries, declared by the driver as <em>optional</em>
dependencies. So If you use a build tool like Maven, you’ll need to
declare an explicit dependency to pull the appropriate library in your
application’s classpath. Then you configure compression at driver
startup.</p>

<h3 id="lz4" class="target">LZ4<a class="anchor" href="#lz4" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Maven dependency:</p>
<pre class="highlight"><code><span class="nt">&lt;dependency&gt;</span>
    <span class="nt">&lt;groupId&gt;</span>net.jpountz.lz4<span class="nt">&lt;/groupId&gt;</span>
    <span class="nt">&lt;artifactId&gt;</span>lz4<span class="nt">&lt;/artifactId&gt;</span>
    <span class="nt">&lt;version&gt;</span>1.2.0<span class="nt">&lt;/version&gt;</span>
<span class="nt">&lt;/dependency&gt;</span>
</code></pre>
<p>Always check the exact version of the library: go to the driver’s
<a href="https://repo1.maven.org/maven2/com/datastax/cassandra/cassandra-driver-parent/2.0.12/cassandra-driver-parent-2.0.12.pom">parent POM</a> (change the URL to match your driver version) and look
for the <code>lz4.version</code> property.</p>

<p>Driver configuration:</p>
<pre class="highlight"><code><span class="n">cluster</span> <span class="o">=</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">()</span>
    <span class="o">.</span><span class="na">addContactPoint</span><span class="o">(</span><span class="s">"127.0.0.1"</span><span class="o">)</span>
    <span class="o">.</span><span class="na">withCompression</span><span class="o">(</span><span class="n">ProtocolOptions</span><span class="o">.</span><span class="na">Compression</span><span class="o">.</span><span class="na">LZ4</span><span class="o">)</span>
    <span class="o">.</span><span class="na">build</span><span class="o">();</span>
</code></pre>
<p>LZ4-java has three internal implementations (from fastest to slowest):</p>

<ul>
<li>JNI;</li>
<li>pure Java using sun.misc.Unsafe;</li>
<li>pure Java using only “safe” classes.</li>
</ul>

<p>It will pick the best implementation depending on what’s possible on
your platform. To find out which one was chosen, <a href="../logging/">enable INFO
logs</a> on the category
<code>com.datastax.driver.core.FrameCompressor</code> and look for a log similar to
this:</p>
<pre><code>INFO  com.datastax.driver.core.FrameCompressor  - Using LZ4Factory:JNI
</code></pre>
<h3 id="snappy" class="target">Snappy<a class="anchor" href="#snappy" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Maven dependency:</p>
<pre class="highlight"><code><span class="nt">&lt;dependency&gt;</span>
    <span class="nt">&lt;groupId&gt;</span>org.xerial.snappy<span class="nt">&lt;/groupId&gt;</span>
    <span class="nt">&lt;artifactId&gt;</span>snappy-java<span class="nt">&lt;/artifactId&gt;</span>
    <span class="nt">&lt;version&gt;</span>1.0.5<span class="nt">&lt;/version&gt;</span>
<span class="nt">&lt;/dependency&gt;</span>
</code></pre>
<p>Always check the exact version of the library: go to the driver’s
<a href="https://repo1.maven.org/maven2/com/datastax/cassandra/cassandra-driver-parent/2.0.12/cassandra-driver-parent-2.0.12.pom">parent POM</a> (change the URL to match your driver version) and look
for the <code>snappy.version</code> property.</p>

<p>Driver configuration:</p>
<pre class="highlight"><code><span class="n">cluster</span> <span class="o">=</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">()</span>
    <span class="o">.</span><span class="na">addContactPoint</span><span class="o">(</span><span class="s">"127.0.0.1"</span><span class="o">)</span>
    <span class="o">.</span><span class="na">withCompression</span><span class="o">(</span><span class="n">ProtocolOptions</span><span class="o">.</span><span class="na">Compression</span><span class="o">.</span><span class="na">SNAPPY</span><span class="o">)</span>
    <span class="o">.</span><span class="na">build</span><span class="o">();</span>
</code></pre>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
