<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.datastax.driver.examples.rcp.ui.Application">
         </run>
      </application>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.datastax.driver.examples.rcp.ui.application"
            name="Driver Eclipse RCP Example Application">
         <property
               name="appName"
               value="Driver Eclipse RCP Example Application">
         </property>
      </product>
   </extension>
      
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="com.datastax.driver.examples.rcp.ui.Perspective"
            id="com.datastax.driver.examples.rcp.ui.Perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Main View"
            class="com.datastax.driver.examples.rcp.ui.View"
            id="com.datastax.driver.examples.rcp.ui.View">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.datastax.driver.examples.rcp.ui.View">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
</plugin>
