<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Custom Codecs</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.2.0-rc3')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.2.0-rc3
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li class="disabled"><a href="./">2.2.0-rc3</a></li>
                  
                    <li><a href="../../2.2.0-rc2/features/custom_codecs/">2.2.0-rc2</a></li>
                  
                    <li><a href="../../2.2.0-rc1/">2.2.0-rc1</a></li>
                  
                    <li><a href="../../2.1.8/">2.1.8</a></li>
                  
                    <li><a href="../../2.1.7/">2.1.7</a></li>
                  
                    <li><a href="../../2.1.6/">2.1.6</a></li>
                  
                    <li><a href="../../2.1.5/">2.1.5</a></li>
                  
                    <li><a href="../../2.0.11/">2.0.11</a></li>
                  
                    <li><a href="../../2.0.10.1/">2.0.10.1</a></li>
                  
                    <li><a href="../../2.0.10/">2.0.10</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Custom Codecs</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li>
<a href="#custom-codecs">Custom Codecs
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#overview-of-the-serialization-mechanism">Overview of the serialization mechanism
</a></li>
<li><a href="#implementing-and-using-custom-codecs">Implementing and using custom codecs
</a></li>
<li><a href="#support-for-parameterized-types">Support for parameterized types
</a></li>
<li><a href="#support-for-collections-user-types-tuples-and-java-enums">Support for collections, user types, tuples and Java Enums
</a></li>
<li><a href="#using-custom-codecs-with-user-types-and-tuples">Using custom codecs with user types and tuples
</a></li>
<li>
<a href="#limitations">Limitations
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#generics">Generics
</a></li>
<li><a href="#type-inheritance">Type inheritance
</a></li>
</ul>
</li>
<li><a href="#performance-considerations">Performance considerations
</a></li>
</ul>
</li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li><a href="../../changelog/">Changelog <small>page</small></a></li>
  
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li><a href="../address_resolution/">Address resolution <small>page</small></a></li>
  
  
  
  
  <li><a href="../compression/">Compression <small>page</small></a></li>
  
  
  
  
  <li><a href="../pooling/">Connection pooling <small>page</small></a></li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Custom Codecs <small>page</small></a>
    
  </li>
  
  
  
  
  <li><a href="../custom_payloads/">Custom Payloads <small>page</small></a></li>
  
  
  
  
  <li><a href="../logging/">Logging <small>page</small></a></li>
  
  
  
  
  <li><a href="../metadata/">Metadata <small>page</small></a></li>
  
  
  
  
  <li><a href="../native_protocol/">Native protocol <small>page</small></a></li>
  
  
  
  
  <li><a href="../object_mapper/">Object Mapper <small>page</small></a></li>
  
  
  
  
  <li><a href="../paging/">Paging <small>page</small></a></li>
  
  
  
  
  <li><a href="../query_timestamps/">Query timestamps <small>page</small></a></li>
  
  
  
  
  <li><a href="../speculative_execution/">Speculative query execution <small>page</small></a></li>
  
  
  
  
  <li><a href="../shaded_jar/">Using the shaded JAR <small>page</small></a></li>
  
  
</ul>

  </li>
  
  
  
  
  <li><a href="../../faq/">Frequently Asked Questions <small>page</small></a></li>
  
  
  
  
  <li><a href="../../upgrade_guide/">Upgrade guide <small>page</small></a></li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="custom-codecs" class="target">Custom Codecs<a class="anchor" href="#custom-codecs" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Custom codecs support transparent, user-configurable mapping of CQL types to arbitrary Java objects.</p>

<p>Practical use cases that justify such a feature are numerous:</p>

<ul>
<li>Ability to map CQL timestamp, date and time columns to Java 8 or Joda Time classes (rather than the built-in mappings for Date, <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/LocalDate.html">LocalDate</a> and Long);</li>
<li>Ability to map CQL varchar columns directly to JSON or XML mapped objects (i.e. using frameworks such as Jackson);</li>
<li>Ability to map CQL user-defined types to Java objects;</li>
<li>Ability to map CQL lists directly to Java arrays;</li>
<li>Ability to map CQL collections directly to Scala collections;</li>
<li>etc.</li>
</ul>

<h3 id="overview-of-the-serialization-mechanism" class="target">Overview of the serialization mechanism<a class="anchor" href="#overview-of-the-serialization-mechanism" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The central piece in the serialization mechanism is <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html">TypeCodec</a>.</p>

<p>Each <code>TypeCodec</code> supports a bidirectional mapping between a Java type and a CQL type. A <code>TypeCodec</code> is thus capable of 4 basic operations:</p>

<ul>
<li>
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html#serialize(T,%20com.datastax.driver.core.ProtocolVersion)">Serialize</a> a Java object into a CQL value;</li>
<li>
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html#deserialize(java.nio.ByteBuffer,%20com.datastax.driver.core.ProtocolVersion)">Deserialize</a> a CQL value into a Java object;</li>
<li>
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html#format(T)">Format</a> a Java object into a CQL literal;</li>
<li>
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html#parse(java.lang.String)">Parse</a> a CQL literal into a Java object.</li>
</ul>

<p>Additionally, it implements inspection methods that verify if the codec is suitable for a specific
CQL type and/or Java object.</p>

<p><code>TypeCodec</code> can be freely subclassed by users willing to implement their own serialization logic.
However, users are only required to do so when they want to extend
the driver’s default set of codecs by registering additional codecs that handle
Java types that the driver is otherwise unable to process. For all other users,
the built-in set of codecs that is bundled with the driver provides
exactly the same functionality that the driver used to offer so far,
with out-of-the-box conversion from all CQL types to standard Java equivalents.</p>

<p>Refer to the <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.html">javadocs</a> of <code>TypeCodec</code> for more information.</p>

<p><code>TypeCodec</code>s are centralized in a <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/CodecRegistry.html">CodecRegistry</a> instance.
Whenever the driver needs to perform one of the aforementioned operations,
it will lookup for an appropriate codec in a <code>CodecRegistry</code>.
<code>CodecRegistry</code> is also used to manually register user-created codecs (see below for detailed instructions).
It also caches codec lookup results for faster execution whenever possible.</p>

<p>Refer to the <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/CodecRegistry.html">javadocs</a> of User <code>CodecRegistry</code> for more information.</p>

<h3 id="implementing-and-using-custom-codecs" class="target">Implementing and using custom codecs<a class="anchor" href="#implementing-and-using-custom-codecs" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Let’s consider the following scenario: a user has JSON documents stored in a varchar column, and wants
the driver to automatically map that column to a Java object using the <a href="http://wiki.fasterxml.com/JacksonHome">Jackson</a> library,
instead of returning the raw JSON string.</p>

<p>The (admittedly simplistic) table structure is as follows:</p>
<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">t</span> <span class="p">(</span><span class="n">id</span> <span class="n">int</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span> <span class="n">json</span> <span class="n">VARCHAR</span><span class="p">);</span>
</code></pre>
<p>The first step is to implement a suitable codec. Using Jackson, here is what a Json codec could like like:</p>
<pre class="highlight"><code><span class="cm">/**
 * A simple Json codec.
 */</span>
<span class="kd">public</span> <span class="kd">class</span> <span class="nc">JsonCodec</span><span class="o">&lt;</span><span class="n">T</span><span class="o">&gt;</span> <span class="kd">extends</span> <span class="n">TypeCodec</span><span class="o">.</span><span class="na">StringParsingCodec</span><span class="o">&lt;</span><span class="n">T</span><span class="o">&gt;</span> <span class="o">{</span>

    <span class="kd">private</span> <span class="kd">final</span> <span class="n">ObjectMapper</span> <span class="n">objectMapper</span><span class="o">;</span>

    <span class="kd">public</span> <span class="n">JsonCodec</span><span class="o">(</span><span class="n">Class</span><span class="o">&lt;</span><span class="n">T</span><span class="o">&gt;</span> <span class="n">javaType</span><span class="o">,</span> <span class="n">ObjectMapper</span> <span class="n">objectMapper</span><span class="o">)</span> <span class="o">{</span>
        <span class="kd">super</span><span class="o">(</span><span class="n">javaType</span><span class="o">);</span>
        <span class="k">this</span><span class="o">.</span><span class="na">objectMapper</span> <span class="o">=</span> <span class="n">objectMapper</span><span class="o">;</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="nd">@SuppressWarnings</span><span class="o">(</span><span class="s">"unchecked"</span><span class="o">)</span>
    <span class="kd">public</span> <span class="n">T</span> <span class="n">fromString</span><span class="o">(</span><span class="n">String</span> <span class="n">value</span><span class="o">)</span> <span class="o">{</span>
        <span class="k">if</span> <span class="o">(</span><span class="n">value</span> <span class="o">==</span> <span class="kc">null</span><span class="o">)</span>
            <span class="k">return</span> <span class="kc">null</span><span class="o">;</span>
        <span class="k">try</span> <span class="o">{</span>
            <span class="k">return</span> <span class="o">(</span><span class="n">T</span><span class="o">)</span> <span class="n">objectMapper</span><span class="o">.</span><span class="na">readValue</span><span class="o">(</span><span class="n">value</span><span class="o">,</span> <span class="n">getJavaType</span><span class="o">().</span><span class="na">getRawType</span><span class="o">());</span>
        <span class="o">}</span> <span class="k">catch</span> <span class="o">(</span><span class="n">IOException</span> <span class="n">e</span><span class="o">)</span> <span class="o">{</span>
            <span class="k">throw</span> <span class="k">new</span> <span class="n">InvalidTypeException</span><span class="o">(</span><span class="n">e</span><span class="o">.</span><span class="na">getMessage</span><span class="o">(),</span> <span class="n">e</span><span class="o">);</span>
        <span class="o">}</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="kd">public</span> <span class="n">String</span> <span class="n">toString</span><span class="o">(</span><span class="n">T</span> <span class="n">value</span><span class="o">)</span> <span class="o">{</span>
        <span class="k">if</span> <span class="o">(</span><span class="n">value</span> <span class="o">==</span> <span class="kc">null</span><span class="o">)</span>
            <span class="k">return</span> <span class="kc">null</span><span class="o">;</span>
        <span class="k">try</span> <span class="o">{</span>
            <span class="k">return</span> <span class="n">objectMapper</span><span class="o">.</span><span class="na">writeValueAsString</span><span class="o">(</span><span class="n">value</span><span class="o">);</span>
        <span class="o">}</span> <span class="k">catch</span> <span class="o">(</span><span class="n">JsonProcessingException</span> <span class="n">e</span><span class="o">)</span> <span class="o">{</span>
            <span class="k">throw</span> <span class="k">new</span> <span class="n">InvalidTypeException</span><span class="o">(</span><span class="n">e</span><span class="o">.</span><span class="na">getMessage</span><span class="o">(),</span> <span class="n">e</span><span class="o">);</span>
        <span class="o">}</span>
    <span class="o">}</span>
<span class="o">}</span>
</code></pre>
<p>As you can see, the driver already provides a convenient base class: <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.StringParsingCodec.html">StringParsingCodec</a>.</p>

<p>A few implementation guidelines:</p>

<ul>
<li>Your codecs should be thread-safe, or better yet, immutable;</li>
<li>Your codecs should be fast: do not forget that codecs are executed often and are usually very “hot” pieces of code;</li>
<li>Your codecs should never block.</li>
</ul>

<p>Note: the code above is an example and is not particularly efficient;
it suffers from the overhead of deserializing raw bytes into a String,
to only then parse the String into an object.
More advanced solutions that read the underlying byte stream directly are possible.</p>

<p>The second step is to register your codec with a <code>CodecRegistry</code> instance:</p>
<pre class="highlight"><code><span class="n">ObjectMapper</span> <span class="n">objectMapper</span> <span class="o">=</span> <span class="o">...</span>
<span class="n">JsonCodec</span><span class="o">&lt;</span><span class="n">MyPojo</span><span class="o">&gt;</span> <span class="n">myJsonCodec</span> <span class="o">=</span> <span class="k">new</span> <span class="n">JsonCodec</span><span class="o">&lt;</span><span class="n">MyPojo</span><span class="o">&gt;(</span><span class="n">MyPojo</span><span class="o">.</span><span class="na">class</span><span class="o">,</span> <span class="n">objectMapper</span><span class="o">);</span>
<span class="n">CodecRegistry</span> <span class="n">myCodecRegistry</span> <span class="o">=</span> <span class="n">cluster</span><span class="o">.</span><span class="na">getConfiguration</span><span class="o">().</span><span class="na">getCodecRegistry</span><span class="o">();</span>
<span class="n">myCodecRegistry</span><span class="o">.</span><span class="na">register</span><span class="o">(</span><span class="n">myJsonCodec</span><span class="o">);</span>
</code></pre>
<p>As you can see, the easiest way to do so is to access the <code>Cluster</code>’s <code>CodecRegistry</code>.
By default, <code>Cluster</code> instances will use <code>CodecRegistry.DEFAULT_INSTANCE</code>,<br>
which should be adequate for most users.</p>

<p>It is however possible to create a <code>Cluster</code> using a different <code>CodecRegistry</code>:</p>
<pre class="highlight"><code><span class="n">CodecRegistry</span> <span class="n">myCodecRegistry</span> <span class="o">=</span> <span class="k">new</span> <span class="n">CodecRegistry</span><span class="o">();</span>
<span class="n">Cluster</span> <span class="n">cluster</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">().</span><span class="na">withCodecRegistry</span><span class="o">(</span><span class="n">myCodecRegistry</span><span class="o">).</span><span class="na">build</span><span class="o">();</span>
</code></pre>
<p>Note: when you instantiate a new <code>CodecRegistry</code>, it automatically registers all the default codecs used by the driver.
This ensures that the new registry will not lack of an essential codec. <em>You cannot deregister default codecs, only
register new ones</em>.</p>

<p>From now on, your custom codec is fully operational. It will be used every time the driver encounters
a <code>MyPojo</code> instance when executing queries, or when you ask it to retrieve a <code>MyPojo</code> instance from a <code>ResultSet</code>.</p>

<p>For example, here is how to save a <code>MyPojo</code> object:</p>
<pre class="highlight"><code><span class="n">Cluster</span> <span class="n">cluster</span> <span class="o">=</span> <span class="o">...</span>
<span class="n">Session</span> <span class="n">session</span> <span class="o">=</span> <span class="o">...</span>
<span class="n">MyPojo</span> <span class="n">myPojo</span> <span class="o">=</span> <span class="o">...</span>
<span class="c1">// Using SimpleStatement</span>
<span class="n">Statement</span> <span class="n">stmt</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">newSimpleStatement</span><span class="o">(</span><span class="s">"INSERT INTO t (id, json) VALUES (?, ?)"</span><span class="o">,</span> <span class="mi">42</span><span class="o">,</span> <span class="n">myPojo</span><span class="o">));</span>
<span class="c1">// Using the Query Builder</span>
<span class="n">BuiltStatement</span> <span class="n">insertStmt</span> <span class="o">=</span> <span class="k">new</span> <span class="n">QueryBuilder</span><span class="o">(</span><span class="n">cluster</span><span class="o">).</span><span class="na">insertInto</span><span class="o">(</span><span class="s">"t"</span><span class="o">)</span>
    <span class="o">.</span><span class="na">value</span><span class="o">(</span><span class="s">"id"</span><span class="o">,</span> <span class="mi">42</span><span class="o">)</span>
    <span class="o">.</span><span class="na">value</span><span class="o">(</span><span class="s">"json"</span><span class="o">,</span> <span class="n">myPojo</span><span class="o">);</span>
<span class="c1">// Using BoundStatements</span>
<span class="n">PreparedStatement</span> <span class="n">ps</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">prepare</span><span class="o">(</span><span class="s">"INSERT INTO t (id, json) VALUES (?, ?)"</span><span class="o">);</span>
<span class="n">BoundStatement</span> <span class="n">bs1</span> <span class="o">=</span> <span class="n">ps</span><span class="o">.</span><span class="na">bind</span><span class="o">(</span><span class="mi">42</span><span class="o">,</span> <span class="n">myPojo</span><span class="o">);</span> <span class="c1">// or alternatively...</span>
<span class="n">BoundStatement</span> <span class="n">bs2</span> <span class="o">=</span> <span class="n">ps</span><span class="o">.</span><span class="na">bind</span><span class="o">()</span>
    <span class="o">.</span><span class="na">setInt</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="mi">42</span><span class="o">)</span>
    <span class="o">.</span><span class="na">set</span><span class="o">(</span><span class="mi">1</span><span class="o">,</span> <span class="n">myPojo</span><span class="o">,</span> <span class="n">MyPojo</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<p>And here is how to retrieve a <code>MyPojo</code> object converted from a JSON document:</p>
<pre class="highlight"><code><span class="n">ResultSet</span> <span class="n">rows</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(...);</span>
<span class="n">Row</span> <span class="n">row</span> <span class="o">=</span> <span class="n">one</span><span class="o">();</span>
<span class="c1">// Let the driver convert the string for you...</span>
<span class="n">MyPojo</span> <span class="n">myPojo</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">1</span><span class="o">,</span> <span class="n">MyPojo</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="c1">// ... or retrieve the raw string if you need it</span>
<span class="n">String</span> <span class="n">json</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">1</span><span class="o">,</span> <span class="n">String</span><span class="o">.</span><span class="na">class</span><span class="o">);</span> <span class="c1">// row.getString(1) would have worked too</span>
</code></pre>
<p>Tip: <code>Row</code> and <code>BoundStatement</code> have several methods to set and retrieve values.
But if you plan to use custom codecs,
make sure that you use preferably the <code>get()</code> and <code>set()</code> methods: they
avoid any ambiguity by requiring the user to explicitly specify the desired Java type,
thus forcing the driver to pick the right codec for the right task.</p>

<h3 id="support-for-parameterized-types" class="target">Support for parameterized types<a class="anchor" href="#support-for-parameterized-types" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><code>get()</code> and <code>set()</code> can even be used to retrieve collections or other
user-defined parameterized types; simply use the <code>get()</code> and <code>set()</code> variants that
take Guava’s <a href="http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/reflect/TypeToken.html">TypeToken</a> parameter:</p>
<pre class="highlight"><code><span class="n">Row</span> <span class="n">row</span> <span class="o">=</span> <span class="o">...</span>
<span class="n">List</span><span class="o">&lt;</span><span class="n">MyPojo</span><span class="o">&gt;</span> <span class="n">myPojos</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="s">"jsonList"</span><span class="o">,</span> <span class="k">new</span> <span class="n">TypeToken</span><span class="o">&lt;</span><span class="n">List</span><span class="o">&lt;</span><span class="n">MyPojo</span><span class="o">&gt;&gt;(){});</span>
<span class="c1">// or alternatively, the following also works for collections:</span>
<span class="n">List</span><span class="o">&lt;</span><span class="n">MyPojo</span><span class="o">&gt;</span> <span class="n">myPojos</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">getList</span><span class="o">(</span><span class="s">"jsonList"</span><span class="o">,</span> <span class="n">MyPojo</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<h3 id="support-for-collections-user-types-tuples-and-java-enums" class="target">Support for collections, user types, tuples and Java Enums<a class="anchor" href="#support-for-collections-user-types-tuples-and-java-enums" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><code>CodecRegistry</code> instances not only store default codecs and user-defined codecs;
they can also create new codecs on the fly, based on the set of codecs they currently hold.</p>

<ul>
<li>Codecs for <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/UserType.html">UserType</a> instances are created on the fly using <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.UDTCodec.html">UDTCodec</a>;</li>
<li>Codecs for <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TupleType.html">TupleType</a> instances are created on the fly using <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.TupleCodec.html">TupleCodec</a>;</li>
<li>Codecs for Java Enums are created on the fly using <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.EnumStringCodec.html">EnumStringCodec</a>;</li>
<li>Codecs for collections are created on the fly using <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.ListCodec.html">ListCodec</a>,
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.SetCodec.html">SetCodec</a> and <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.MapCodec.html">MapCodec</a>, if their element types can be handled by
existing codecs (or codecs that can themselves be generated).</li>
</ul>

<p>This way, the user does not have to manually register all derived codecs for a given “base” codec.
However, other combinations of Java and CQL types not listed above cannot have their codecs created on the fly;
such codecs must be manually registered.</p>

<p>The driver also provides another codec for Enums that converts Enum instances to CQL ints
representing their ordinal position: <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.EnumIntCodec.html">EnumIntCodec</a>. If you plan to use this codec, make sure to register it
manually, otherwise Enums would be converted using <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.EnumStringCodec.html">EnumStringCodec</a>.
<u>It is not possible to mix both codecs in the same <code>CodecRegistry</code></u>.</p>

<p>Note that the default set of codecs has no support for
<a href="https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/db/marshal/AbstractType.java">Cassandra custom types</a>;
to be able to deserialize values of such types, you need to manually register an appropriate codec.</p>

<h3 id="using-custom-codecs-with-user-types-and-tuples" class="target">Using custom codecs with user types and tuples<a class="anchor" href="#using-custom-codecs-with-user-types-and-tuples" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>By default, the driver maps user-defined type values and tuple values to <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/UDTValue.html">UDTValue</a> and <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TupleValue.html">TupleValue</a>,
using the built-in codecs <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.UDTCodec.html">UDTCodec</a> and <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.TupleCodec.html">TupleCodec</a> respectively.</p>

<p>If you want to register a custom codec for a specific user type, follow these steps:</p>

<p>Let’s suppose you have a keyspace containing the following type and table:</p>
<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">TYPE</span> <span class="n">address</span> <span class="p">(</span><span class="n">street</span> <span class="n">VARCHAR</span><span class="p">,</span> <span class="n">zipcode</span> <span class="n">INT</span><span class="p">);</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">users</span> <span class="p">(</span><span class="n">id</span> <span class="n">UUID</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span> <span class="n">name</span> <span class="n">VARCHAR</span><span class="p">,</span> <span class="n">address</span> <span class="n">frozen</span><span class="o">&lt;</span><span class="n">address</span><span class="o">&gt;</span><span class="p">);</span>
</code></pre>
<p>And let’s suppose that you want to map the type <code>address</code> to an <code>Address</code> class:</p>
<pre class="highlight"><code><span class="kd">public</span> <span class="kd">class</span> <span class="nc">Address</span> <span class="o">{</span>

    <span class="kd">private</span> <span class="kd">final</span> <span class="n">String</span> <span class="n">street</span><span class="o">;</span>

    <span class="kd">private</span> <span class="kd">final</span> <span class="kt">int</span> <span class="n">zipcode</span><span class="o">;</span>

    <span class="kd">public</span> <span class="n">Address</span><span class="o">(</span><span class="n">String</span> <span class="n">street</span><span class="o">,</span> <span class="kt">int</span> <span class="n">zipcode</span><span class="o">)</span> <span class="o">{</span>
        <span class="k">this</span><span class="o">.</span><span class="na">street</span> <span class="o">=</span> <span class="n">street</span><span class="o">;</span>
        <span class="k">this</span><span class="o">.</span><span class="na">zipcode</span> <span class="o">=</span> <span class="n">zipcode</span><span class="o">;</span>
    <span class="o">}</span>

    <span class="c1">// getters, setters, equals() and hashcode() omitted</span>
<span class="o">}</span>
</code></pre>
<p>First of all, create a codec for this class:</p>
<pre class="highlight"><code><span class="kd">public</span> <span class="kd">class</span> <span class="nc">AddressCodec</span> <span class="kd">extends</span> <span class="n">TypeCodec</span><span class="o">.</span><span class="na">MappingCodec</span><span class="o">&lt;</span><span class="n">Address</span><span class="o">,</span> <span class="n">UDTValue</span><span class="o">&gt;</span> <span class="o">{</span>

    <span class="kd">private</span> <span class="kd">final</span> <span class="n">UserType</span> <span class="n">userType</span><span class="o">;</span>

    <span class="kd">public</span> <span class="n">AddressCodec</span><span class="o">(</span><span class="n">TypeCodec</span><span class="o">&lt;</span><span class="n">UDTValue</span><span class="o">&gt;</span> <span class="n">innerCodec</span><span class="o">,</span> <span class="n">Class</span><span class="o">&lt;</span><span class="n">Address</span><span class="o">&gt;</span> <span class="n">javaType</span><span class="o">)</span> <span class="o">{</span>
        <span class="kd">super</span><span class="o">(</span><span class="n">innerCodec</span><span class="o">,</span> <span class="n">javaType</span><span class="o">);</span>
        <span class="n">userType</span> <span class="o">=</span> <span class="o">(</span><span class="n">UserType</span><span class="o">)</span> <span class="n">innerCodec</span><span class="o">.</span><span class="na">getCqlType</span><span class="o">();</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="kd">protected</span> <span class="n">Address</span> <span class="n">deserialize</span><span class="o">(</span><span class="n">UDTValue</span> <span class="n">value</span><span class="o">)</span> <span class="o">{</span>
        <span class="k">return</span> <span class="n">value</span> <span class="o">==</span> <span class="kc">null</span> <span class="o">?</span> <span class="kc">null</span> <span class="o">:</span> <span class="k">new</span> <span class="n">Address</span><span class="o">(</span><span class="n">value</span><span class="o">.</span><span class="na">getString</span><span class="o">(</span><span class="s">"street"</span><span class="o">),</span> <span class="n">value</span><span class="o">.</span><span class="na">getInt</span><span class="o">(</span><span class="s">"zipcode"</span><span class="o">));</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="kd">protected</span> <span class="n">UDTValue</span> <span class="n">serialize</span><span class="o">(</span><span class="n">Address</span> <span class="n">address</span><span class="o">)</span> <span class="o">{</span>
        <span class="k">return</span> <span class="n">address</span> <span class="o">==</span> <span class="kc">null</span> <span class="o">?</span> <span class="kc">null</span> <span class="o">:</span> <span class="n">userType</span><span class="o">.</span><span class="na">newValue</span><span class="o">().</span><span class="na">setString</span><span class="o">(</span><span class="s">"street"</span><span class="o">,</span> <span class="n">address</span><span class="o">.</span><span class="na">getStreet</span><span class="o">()).</span><span class="na">setInt</span><span class="o">(</span><span class="s">"zipcode"</span><span class="o">,</span> <span class="n">address</span><span class="o">.</span><span class="na">getZipcode</span><span class="o">());</span>
    <span class="o">}</span>
<span class="o">}</span>
</code></pre>
<p>Again, the driver provides a convenient base class: <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/TypeCodec.MappingCodec.html">MappingCodec</a>.</p>

<p>Now (and only if you intend to use your own <code>CodecRegistry</code>), 
create it and register it on your <code>Cluster</code> instance:</p>
<pre class="highlight"><code><span class="c1">// only if you do not intend to use CodecRegistry.DEFAULT_INSTANCE</span>
<span class="n">CodecRegistry</span> <span class="n">codecRegistry</span> <span class="o">=</span> <span class="k">new</span> <span class="n">CodecRegistry</span><span class="o">();</span>
<span class="n">Cluster</span> <span class="n">cluster</span> <span class="o">=</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">()</span>
    <span class="o">.</span><span class="na">addContactPoints</span><span class="o">(...)</span>
    <span class="o">.</span><span class="na">withCodecRegistry</span><span class="o">(</span><span class="n">codecRegistry</span><span class="o">)</span>
    <span class="o">.</span><span class="na">build</span><span class="o">();</span>
</code></pre>
<p>Now, retrieve the metadata for type <code>address</code>:</p>
<pre class="highlight"><code><span class="n">UserType</span> <span class="n">addressType</span> <span class="o">=</span> <span class="n">cluster</span><span class="o">.</span><span class="na">getMetadata</span><span class="o">().</span><span class="na">getKeyspace</span><span class="o">(...).</span><span class="na">getUserType</span><span class="o">(</span><span class="s">"address"</span><span class="o">);</span>
</code></pre>
<p>And finally, register your <code>AddressCodec</code> with the <code>CodecRegistry</code>. Note that
your codec simply delegates the hard work to an inner codec that knows how to deal with
user type values:</p>
<pre class="highlight"><code><span class="n">AddressCodec</span> <span class="n">addressCodec</span> <span class="o">=</span> <span class="k">new</span> <span class="n">AddressCodec</span><span class="o">(</span><span class="k">new</span> <span class="n">TypeCodec</span><span class="o">.</span><span class="na">UDTCodec</span><span class="o">(</span><span class="n">addressType</span><span class="o">),</span> <span class="n">Address</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">codecRegistry</span><span class="o">.</span><span class="na">register</span><span class="o">(</span><span class="n">addressCodec</span><span class="o">);</span>
</code></pre>
<p>And voilà! You can now retrieve <code>address</code> values as <code>Address</code> instances:</p>
<pre class="highlight"><code><span class="n">ResultSet</span> <span class="n">rows</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(...);</span>
<span class="n">Row</span> <span class="n">row</span> <span class="o">=</span> <span class="n">rows</span><span class="o">.</span><span class="na">one</span><span class="o">();</span>
<span class="c1">// let the driver convert it for you...</span>
<span class="n">Address</span> <span class="n">address</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="s">"address"</span><span class="o">,</span> <span class="n">Address</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="c1">// ...or access the low-level UDTValue, if you need</span>
<span class="n">UDTValue</span> <span class="n">addressUdt</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="s">"address"</span><span class="o">,</span> <span class="n">UDTValue</span><span class="o">.</span><span class="na">class</span><span class="o">);</span> <span class="c1">// row.getUDTValue("address") would have worked too</span>
</code></pre>
<p>Note that this solution creates an intermediary <code>UDTValue</code> object when
serializing and deserializing. It’s possible to bypass this step with a
lower-level implementation that manipulates the binary stream directly.
That’s also how the object mapper handles UDTs, and you can rely on the
mapper to generate UDT codecs for you; see
<a href="../object_mapper/custom_codecs/#implicit-udt-codecs">this page</a> for more
information.</p>

<h3 id="limitations" class="target">Limitations<a class="anchor" href="#limitations" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<h4 id="generics" class="target">Generics<a class="anchor" href="#generics" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>Java generic types are fully supported, through Guava’s <a href="http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/reflect/TypeToken.html">TypeToken</a> API. 
Be sure to only use <code>get()</code> and <code>set()</code> methods
that take a <code>TypeToken</code> argument:</p>
<pre class="highlight"><code><span class="c1">// this works</span>
<span class="n">Foo</span><span class="o">&lt;</span><span class="n">Bar</span><span class="o">&gt;</span> <span class="n">foo</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">TypeToken</span><span class="o">&lt;</span><span class="n">Foo</span><span class="o">&lt;</span><span class="n">Bar</span><span class="o">&gt;&gt;(){})</span>
<span class="c1">// this does not work due to type erasure</span>
<span class="n">Foo</span><span class="o">&lt;</span><span class="n">Bar</span><span class="o">&gt;</span> <span class="n">foo</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">Foo</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<h4 id="type-inheritance" class="target">Type inheritance<a class="anchor" href="#type-inheritance" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>If a codec accepts a Java type that is assignable to the
desired Java type, that codec may be returned if it is found first
in the registry, <em>even if another codec is a better match</em>.</p>

<p>As a consequence, type inheritance and interfaces should be used with care. 
Let’s consider an example and assume that class <code>B</code> extends class <code>A</code>:</p>

<p>1) If you register a codec for <code>A</code>, you can pass <code>B</code> as the target type,
because <code>B</code> instances are assignable to <code>A</code>, and the driver is capable
of detecting that:</p>
<pre class="highlight"><code><span class="n">codecRegistry</span><span class="o">.</span><span class="na">register</span><span class="o">(</span><span class="k">new</span> <span class="n">ACodec</span><span class="o">());</span>
<span class="c1">// all work</span>
<span class="n">A</span> <span class="n">a1</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">A</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">B</span> <span class="n">b</span>  <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">A</span> <span class="n">a2</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<p>However, because <code>List&lt;B&gt;</code> is <em>not</em> assignable to <code>List&lt;A&gt;</code>:</p>
<pre class="highlight"><code><span class="n">codecRegistry</span><span class="o">.</span><span class="na">register</span><span class="o">(</span><span class="k">new</span> <span class="n">ACodec</span><span class="o">());</span>
<span class="c1">// this works</span>
<span class="n">List</span><span class="o">&lt;</span><span class="n">A</span><span class="o">&gt;</span> <span class="n">as1</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">getList</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">A</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="c1">// but this throws CodecNotFoundException</span>
<span class="n">List</span><span class="o">&lt;</span><span class="n">B</span><span class="o">&gt;</span> <span class="n">bs</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">getList</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">List</span><span class="o">&lt;?</span> <span class="kd">extends</span> <span class="n">A</span><span class="o">&gt;</span> <span class="n">as2</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">getList</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<p>2) If you register a codec for <code>B</code>, you can’t pass <code>A</code> as the target type, 
because no codec matches <code>A.class</code> exactly:</p>
<pre class="highlight"><code><span class="n">codecRegistry</span><span class="o">.</span><span class="na">register</span><span class="o">(</span><span class="k">new</span> <span class="n">BCodec</span><span class="o">());</span>
<span class="c1">// this works</span>
<span class="n">A</span> <span class="n">a1</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">B</span> <span class="n">b</span>  <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="c1">// but this throws CodecNotFoundException</span>
<span class="n">A</span> <span class="n">a2</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">A</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="c1">// and with collections, this works</span>
<span class="n">List</span><span class="o">&lt;</span><span class="n">B</span><span class="o">&gt;</span> <span class="n">bs</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">getList</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">B</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="c1">// but this throws CodecNotFoundException</span>
<span class="n">List</span><span class="o">&lt;</span><span class="n">A</span><span class="o">&gt;</span> <span class="n">as</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">getList</span><span class="o">(</span><span class="mi">0</span><span class="o">,</span> <span class="n">A</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<p>The same apply for interfaces.</p>

<h3 id="performance-considerations" class="target">Performance considerations<a class="anchor" href="#performance-considerations" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>A codec lookup operation may be costly; to mitigate this, the <code>CodecRegistry</code> caches lookup results whenever possible.</p>

<p>The following situations are exceptions where it is not possible to cache lookup results:</p>

<ul>
<li>With <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/SimpleStatement.html">SimpleStatement</a> instances and <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/BuiltStatement.html">BuiltStatement</a> instances (created via the Query Builder); in these places, the driver has
no way to determine the right CQL type to use, so it performs a best-effort heuristic to guess which codec to use.</li>
<li>When using “ambiguous” methods of <code>BoundStatement</code> and <code>Row</code>, such as <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/SettableByIndexData.html#setList(int,%20java.util.List)">setList()</a>,
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/SettableByIndexData.html#setSet(int,%20java.util.Set)">setSet()</a>, <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/SettableByIndexData.html#setMap(int,%20java.util.Map)">setMap()</a>, <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/SettableByIndexData.html#setObject(int,%20V)">setObject()</a>;
these methods are “ambiguous” because they do not convey enough compile-time information about the object
to serialize, so the driver performs the same heuristic to guess which codec to use.</li>
</ul>

<p>Beware that in these cases the lookup performs in average 10x worse. If performance is a key factor for your application,
consider using prepared statements all the time, and avoid calling ambiguous methods (prefer <code>get()</code> and <code>set()</code>).</p>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
