<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Using the shaded JAR</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.1.5')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.1.5
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../../features/shaded_jar/">2.2.0-rc3</a></li>
                  
                    <li><a href="../../../2.2.0-rc2/features/shaded_jar/">2.2.0-rc2</a></li>
                  
                    <li><a href="../../../2.2.0-rc1/features/shaded_jar/">2.2.0-rc1</a></li>
                  
                    <li><a href="../../../2.1.7/features/shaded_jar/">2.1.7</a></li>
                  
                    <li><a href="../../../2.1.6/features/shaded_jar/">2.1.6</a></li>
                  
                    <li class="disabled"><a href="./">2.1.5</a></li>
                  
                    <li><a href="../../../2.0.11/features/shaded_jar/">2.0.11</a></li>
                  
                    <li><a href="../../../2.0.10.1/features/shaded_jar/">2.0.10.1</a></li>
                  
                    <li><a href="../../../2.0.10/features/shaded_jar/">2.0.10</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Using the shaded JAR</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li><a href="#using-the-shaded-jar">Using the shaded JAR
</a></li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li><a href="../address_resolution/">Address resolution <small>page</small></a></li>
  
  
  
  
  <li><a href="../heartbeat/">Connection heartbeat <small>page</small></a></li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Using the shaded JAR <small>page</small></a>
    
  </li>
  
  
</ul>

  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="using-the-shaded-jar" class="target">Using the shaded JAR<a class="anchor" href="#using-the-shaded-jar" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The default driver JAR depends on <a href="http://netty.io/">Netty</a>, which is
used internally for networking.</p>

<p>This explicit dependency can be a problem if your application already
uses another Netty version. To avoid conflicts, we provide a “shaded”
version of the JAR, which bundles the Netty classes under a different
package name:</p>
<pre><code>&lt;dependency&gt;
  &lt;groupId&gt;${project.groupId}&lt;/groupId&gt;
  &lt;artifactId&gt;cassandra-driver-core&lt;/artifactId&gt;
  &lt;version&gt;2.1.5&lt;/version&gt;
  &lt;classifier&gt;shaded&lt;/classifier&gt;
  &lt;!-- Because the shaded JAR uses the original POM, you still need
       to exclude this dependency explicitly: --&gt;
  &lt;exclusions&gt;
    &lt;exclusion&gt;
      &lt;groupId&gt;io.netty&lt;/groupId&gt;
      &lt;artifactId&gt;*&lt;/artifactId&gt;
    &lt;/exclusion&gt;
  &lt;/exclusions&gt;
&lt;/dependency&gt;
</code></pre>
<p>If you also use the mapper, you need to remove its dependency to the
non-shaded JAR:</p>
<pre><code>&lt;dependency&gt;
  &lt;groupId&gt;com.datastax.cassandra&lt;/groupId&gt;
  &lt;artifactId&gt;cassandra-driver-core&lt;/artifactId&gt;
  &lt;version&gt;2.1.5&lt;/version&gt;
  &lt;classifier&gt;shaded&lt;/classifier&gt;
  &lt;exclusions&gt;
    &lt;exclusion&gt;
      &lt;groupId&gt;io.netty&lt;/groupId&gt;
      &lt;artifactId&gt;*&lt;/artifactId&gt;
    &lt;/exclusion&gt;
  &lt;/exclusions&gt;
&lt;/dependency&gt;
&lt;dependency&gt;
  &lt;groupId&gt;com.datastax.cassandra&lt;/groupId&gt;
  &lt;artifactId&gt;cassandra-driver-mapping&lt;/artifactId&gt;
  &lt;version&gt;2.1.5&lt;/version&gt;
  &lt;exclusions&gt;
    &lt;exclusion&gt;
      &lt;groupId&gt;com.datastax.cassandra&lt;/groupId&gt;
      &lt;artifactId&gt;cassandra-driver-core&lt;/artifactId&gt;
    &lt;/exclusion&gt;
  &lt;/exclusions&gt;
&lt;/dependency&gt;
</code></pre>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
