<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Using custom codecs</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../../"><img alt="Brand" src="../../../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.2.0-rc2')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.2.0-rc2
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../../../features/object_mapper/custom_codecs/">3.0.0-alpha4</a></li>
                  
                    <li><a href="../../../../2.2.0-rc3/features/object_mapper/custom_codecs/">2.2.0-rc3</a></li>
                  
                    <li class="disabled"><a href="./">2.2.0-rc2</a></li>
                  
                    <li><a href="../../../../2.2.0-rc1/">2.2.0-rc1</a></li>
                  
                    <li><a href="../../../../2.1.9/">2.1.9</a></li>
                  
                    <li><a href="../../../../2.1.8/">2.1.8</a></li>
                  
                    <li><a href="../../../../2.1.7/">2.1.7</a></li>
                  
                    <li><a href="../../../../2.1.6/">2.1.6</a></li>
                  
                    <li><a href="../../../../2.1.5/">2.1.5</a></li>
                  
                    <li><a href="../../../../2.0.12/">2.0.12</a></li>
                  
                    <li><a href="../../../../2.0.11/">2.0.11</a></li>
                  
                    <li><a href="../../../../2.0.10.1/">2.0.10.1</a></li>
                  
                    <li><a href="../../../../2.0.10/">2.0.10</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../../">Datastax Java Driver for Apache Cassandra</a></li>
              
              
              
              
              
              <li><a href="../../">Features</a></li>
              
              
              
              
              
              <li><a href="../">Object Mapper</a></li>
              
              
              
              
              
              <li class="active">Using custom codecs</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li><a href="#using-custom-codecs">Page Top <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
<li>
<a href="#declaring-codecs">Declaring codecs
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#pre-registered-codecs">Pre-registered codecs
</a></li>
<li><a href="#one-time-declaration">One-time declaration
</a></li>
</ul>
</li>
<li><a href="#implicit-udt-codecs">Implicit UDT codecs
</a></li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../../changelog/">Changelog <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../address_resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../compression/">Compression <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../custom_codecs/">Custom Codecs <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../custom_payloads/">Custom Payloads <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../logging/">Logging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../metadata/">Metadata <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../native_protocol/">Native protocol <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Object Mapper <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../creating/">Definition of mapped classes <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../using/">Using the mapper <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Using custom codecs <small>page</small></a>
    
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../paging/">Paging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../query_timestamps/">Query timestamps <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../speculative_execution/">Speculative query execution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../shaded_jar/">Using the shaded JAR <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../../faq/">Frequently Asked Questions <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../../upgrade_guide/">Upgrade guide <small>page</small></a>
  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h1 id="using-custom-codecs" class="target">Using custom codecs<a class="anchor" href="#using-custom-codecs" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>The mapper can take advantage of <a href="../../custom_codecs/">custom codecs</a>
to apply custom conversions to mapped columns and fields.</p>

<h2 id="declaring-codecs" class="target">Declaring codecs<a class="anchor" href="#declaring-codecs" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Let’s assume you have a table containing a timestamp column:</p>
<pre><code>create table user(id int primary key, birth timestamp);
</code></pre>
<p>You’ve created a custom class, and the codec to convert it:</p>
<pre class="highlight"><code><span class="kd">public</span> <span class="kd">class</span> <span class="nc">MyCustomDate</span> <span class="o">{</span> <span class="o">...</span> <span class="o">}</span>

<span class="kd">public</span> <span class="kd">class</span> <span class="nc">MyCustomDateCodec</span> <span class="kd">extends</span> <span class="n">TypeCodec</span><span class="o">&lt;</span><span class="n">MyCustomDate</span><span class="o">&gt;</span> <span class="o">{</span>
    <span class="kd">public</span> <span class="n">MyCustomDate</span><span class="o">()</span> <span class="o">{</span>
        <span class="kd">super</span><span class="o">(</span><span class="n">DataType</span><span class="o">.</span><span class="na">timestamp</span><span class="o">(),</span> <span class="n">MyCustomDate</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
    <span class="o">}</span>
    <span class="o">...</span>
<span class="o">}</span>
</code></pre>
<h3 id="pre-registered-codecs" class="target">Pre-registered codecs<a class="anchor" href="#pre-registered-codecs" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>If you register your codec with the mapper’s underlying <code>Cluster</code>, it
will be automatically available to the mapper:</p>
<pre class="highlight"><code><span class="n">Cluster</span> <span class="n">cluster</span> <span class="o">=</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">()</span>
    <span class="o">.</span><span class="na">addContactPoint</span><span class="o">(</span><span class="s">"127.0.0.1"</span><span class="o">)</span>
    <span class="o">.</span><span class="na">withCodecRegistry</span><span class="o">(</span>
        <span class="k">new</span> <span class="n">CodecRegistry</span><span class="o">().</span><span class="na">register</span><span class="o">(</span><span class="k">new</span> <span class="n">MyCustomDateCodec</span><span class="o">())</span>
    <span class="o">).</span><span class="na">build</span><span class="o">();</span>

<span class="n">MappingManager</span> <span class="n">mappingManager</span> <span class="o">=</span> <span class="k">new</span> <span class="n">MappingManager</span><span class="o">(</span><span class="n">cluster</span><span class="o">.</span><span class="na">connect</span><span class="o">());</span>
</code></pre>
<p>You can normally create your mapped classes using your custom type,
without any additional configuration:</p>
<pre class="highlight"><code><span class="nd">@Table</span><span class="o">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">"user"</span><span class="o">)</span>
<span class="kd">public</span> <span class="kd">class</span> <span class="nc">User</span> <span class="o">{</span>
  <span class="nd">@PartitionKey</span>
  <span class="kd">private</span> <span class="kt">int</span> <span class="n">id</span><span class="o">;</span>
  <span class="kd">private</span> <span class="n">MyCustomDate</span> <span class="n">birth</span><span class="o">;</span>

  <span class="o">...</span> <span class="c1">// getters and setters</span>
<span class="o">}</span>
</code></pre>
<p>This also works in accessors:</p>
<pre class="highlight"><code><span class="nd">@Accessor</span>
<span class="kd">interface</span> <span class="nc">UserAccessor</span> <span class="o">{</span>
  <span class="nd">@Query</span><span class="o">(</span><span class="s">"update user set birth = :b where id = :i)
  void updateBirth(@Param("</span><span class="n">i</span><span class="s">") int id,
                   @Param("</span><span class="n">b</span><span class="err">"</span><span class="o">)</span> <span class="n">MyCustomDate</span> <span class="n">birth</span><span class="o">);</span>
<span class="o">}</span>
</code></pre>
<h3 id="one-time-declaration" class="target">One-time declaration<a class="anchor" href="#one-time-declaration" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Sometimes you might want to use your codec only for one particular
column/field. In that case you won’t register it when initializing the
<code>Cluster</code>:</p>
<pre class="highlight"><code><span class="n">Cluster</span> <span class="n">cluster</span> <span class="o">=</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">()</span>
    <span class="o">.</span><span class="na">addContactPoint</span><span class="o">(</span><span class="s">"127.0.0.1"</span><span class="o">)</span>
    <span class="o">.</span><span class="na">build</span><span class="o">();</span>

<span class="n">MappingManager</span> <span class="n">mappingManager</span> <span class="o">=</span> <span class="k">new</span> <span class="n">MappingManager</span><span class="o">(</span><span class="n">cluster</span><span class="o">.</span><span class="na">connect</span><span class="o">());</span>
</code></pre>
<p>Instead, reference the codec’s class in the <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/mapping/annotations/Column.html">@Column</a>
annotation:</p>
<pre class="highlight"><code><span class="nd">@Table</span><span class="o">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">"user"</span><span class="o">)</span>
<span class="kd">public</span> <span class="kd">class</span> <span class="nc">User</span> <span class="o">{</span>
  <span class="nd">@PartitionKey</span>
  <span class="kd">private</span> <span class="kt">int</span> <span class="n">id</span><span class="o">;</span>
  <span class="nd">@Column</span><span class="o">(</span><span class="n">codec</span> <span class="o">=</span> <span class="n">MyCustomDateCodec</span><span class="o">.</span><span class="na">class</span><span class="o">)</span>
  <span class="kd">private</span> <span class="n">MyCustomDate</span> <span class="n">birth</span><span class="o">;</span>

  <span class="o">...</span> <span class="c1">// getters and setters</span>
<span class="o">}</span>
</code></pre>
<p>The class must have a no-arg constructor. The mapper will create an
instance (one per column) and cache it for future use.</p>

<p>This also works with <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/mapping/annotations/Field.html">@Field</a> and <a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/mapping/annotations/Param.html">@Param</a> annotations.</p>

<h2 id="implicit-udt-codecs" class="target">Implicit UDT codecs<a class="anchor" href="#implicit-udt-codecs" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The mapper uses custom codecs internally to handle UDT conversions: when
you register an <a href="../using/#entity-mappers">entity</a>, the mapper inspects
the type of all fields to find classes annotated with
<a href="../creating/#mapping-user-types">@UDT</a> (this works recursively with
nested UDTs and collections). For each class, the mapper creates a codec
and registers it with the underlying <code>Cluster</code>.</p>
<pre class="highlight"><code><span class="nd">@UDT</span><span class="o">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">"address"</span><span class="o">)</span>
<span class="kd">public</span> <span class="kd">class</span> <span class="nc">Address</span> <span class="o">{</span> <span class="o">...</span> <span class="o">}</span>

<span class="nd">@Entity</span><span class="o">(</span><span class="n">name</span> <span class="o">=</span> <span class="s">"user"</span><span class="o">)</span>
<span class="kd">public</span> <span class="kd">class</span> <span class="nc">User</span> <span class="o">{</span>
  <span class="o">...</span>
  <span class="kd">private</span> <span class="n">Address</span> <span class="n">address</span><span class="o">;</span>
  <span class="o">...</span>
<span class="o">}</span>

<span class="n">Mapper</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;</span> <span class="n">userMapper</span> <span class="o">=</span> <span class="n">mappingManager</span><span class="o">.</span><span class="na">mapper</span><span class="o">(</span><span class="n">User</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>

<span class="c1">// Codec is now registered for Address &lt;-&gt; CQL address</span>
</code></pre>
<p>A nice side-effect is that you can now use the <code>@UDT</code>-annotated class
with any driver method, not just mapper methods:</p>
<pre class="highlight"><code><span class="n">Row</span> <span class="n">row</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span><span class="s">"select address from user where id = 1"</span><span class="o">).</span><span class="na">one</span><span class="o">();</span>
<span class="n">Address</span> <span class="n">address</span> <span class="o">=</span> <span class="n">row</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="s">"address"</span><span class="o">,</span> <span class="n">Address</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<p>If you don’t use entity mappers but still want the convenience of the
UDT codec for core driver methods, the mapper provides a way to create
it independently:</p>
<pre class="highlight"><code><span class="n">mappingManager</span><span class="o">.</span><span class="na">udtCodec</span><span class="o">(</span><span class="n">Address</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>

<span class="c1">// Codec is now registered</span>
</code></pre>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
