<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Asynchronous programming</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.1.8')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.1.8
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../../">3.0.0</a></li>
                  
                    <li><a href="../../../2.1.10/">2.1.10</a></li>
                  
                    <li><a href="../../../2.1.9/features/async/">2.1.9</a></li>
                  
                    <li class="disabled"><a href="./">2.1.8</a></li>
                  
                    <li><a href="../../../2.1.7/">2.1.7</a></li>
                  
                    <li><a href="../../../2.0.12.1/features/async/">2.0.12.1</a></li>
                  
                    <li><a href="../../../2.0.12/features/async/">2.0.12</a></li>
                  
                    <li><a href="../../../2.0.11/features/async/">2.0.11</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Asynchronous programming</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li>
<a href="#asynchronous-programming">Asynchronous programming
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#good-practices">Good practices
</a></li>
<li><a href="#known-limitations">Known limitations
</a></li>
</ul>
</li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../changelog/">Changelog <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../address_resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Asynchronous programming <small>page</small></a>
    
  </li>
  
  
  
  
  <li>
    <a href="../compression/">Compression <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../logging/">Logging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../metadata/">Metadata <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../native_protocol/">Native protocol <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../object_mapper/">Object Mapper <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../paging/">Paging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../query_timestamps/">Query timestamps <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../speculative_execution/">Speculative query execution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../statements/">Statements <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../shaded_jar/">Using the shaded JAR <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../faq/">Frequently Asked Questions <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../upgrade_guide/">Upgrade guide <small>page</small></a>
  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="asynchronous-programming" class="target">Asynchronous programming<a class="anchor" href="#asynchronous-programming" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The driver exposes an asynchronous API that allows you to write programs
in a fully-non blocking manner. Asynchronous methods return instances of
Guava’s <a href="https://code.google.com/p/guava-libraries/wiki/ListenableFutureExplained">ListenableFuture</a>, that can be conveniently chained and
composed.</p>

<p>Here is a short example that opens a session and runs a query
asynchronously:</p>
<pre class="highlight"><code><span class="kn">import</span> <span class="nn">com.google.common.util.concurrent.*</span><span class="o">;</span>

<span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">Session</span><span class="o">&gt;</span> <span class="n">session</span> <span class="o">=</span> <span class="n">cluster</span><span class="o">.</span><span class="na">connectAsync</span><span class="o">();</span>

<span class="c1">// Use transform with an AsyncFunction to chain an async operation after another:</span>
<span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">ResultSet</span><span class="o">&gt;</span> <span class="n">resultSet</span> <span class="o">=</span> <span class="n">Futures</span><span class="o">.</span><span class="na">transform</span><span class="o">(</span><span class="n">session</span><span class="o">,</span>
    <span class="k">new</span> <span class="n">AsyncFunction</span><span class="o">&lt;</span><span class="n">Session</span><span class="o">,</span> <span class="n">ResultSet</span><span class="o">&gt;()</span> <span class="o">{</span>
        <span class="kd">public</span> <span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">ResultSet</span><span class="o">&gt;</span> <span class="n">apply</span><span class="o">(</span><span class="n">Session</span> <span class="n">session</span><span class="o">)</span> <span class="kd">throws</span> <span class="n">Exception</span> <span class="o">{</span>
            <span class="k">return</span> <span class="n">session</span><span class="o">.</span><span class="na">executeAsync</span><span class="o">(</span><span class="s">"select release_version from system.local"</span><span class="o">);</span>
        <span class="o">}</span>
    <span class="o">});</span>

<span class="c1">// Use transform with a simple Function to apply a synchronous computation on the result:</span>
<span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">String</span><span class="o">&gt;</span> <span class="n">version</span> <span class="o">=</span> <span class="n">Futures</span><span class="o">.</span><span class="na">transform</span><span class="o">(</span><span class="n">resultSet</span><span class="o">,</span>
    <span class="k">new</span> <span class="n">Function</span><span class="o">&lt;</span><span class="n">ResultSet</span><span class="o">,</span> <span class="n">String</span><span class="o">&gt;()</span> <span class="o">{</span>
        <span class="kd">public</span> <span class="n">String</span> <span class="n">apply</span><span class="o">(</span><span class="n">ResultSet</span> <span class="n">rs</span><span class="o">)</span> <span class="o">{</span>
            <span class="k">return</span> <span class="n">rs</span><span class="o">.</span><span class="na">one</span><span class="o">().</span><span class="na">getString</span><span class="o">(</span><span class="s">"release_version"</span><span class="o">);</span>
        <span class="o">}</span>
    <span class="o">});</span>

<span class="c1">// Use a callback to perform an action once the future is complete:</span>
<span class="n">Futures</span><span class="o">.</span><span class="na">addCallback</span><span class="o">(</span><span class="n">version</span><span class="o">,</span> <span class="k">new</span> <span class="n">FutureCallback</span><span class="o">&lt;</span><span class="n">String</span><span class="o">&gt;()</span> <span class="o">{</span>
    <span class="kd">public</span> <span class="kt">void</span> <span class="n">onSuccess</span><span class="o">(</span><span class="n">String</span> <span class="n">version</span><span class="o">)</span> <span class="o">{</span>
        <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">printf</span><span class="o">(</span><span class="s">"Cassandra version: %s%n"</span><span class="o">,</span> <span class="n">version</span><span class="o">);</span>
    <span class="o">}</span>

    <span class="kd">public</span> <span class="kt">void</span> <span class="n">onFailure</span><span class="o">(</span><span class="n">Throwable</span> <span class="n">t</span><span class="o">)</span> <span class="o">{</span>
        <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">printf</span><span class="o">(</span><span class="s">"Failed to retrieve the version: %s%n"</span><span class="o">,</span>
            <span class="n">t</span><span class="o">.</span><span class="na">getMessage</span><span class="o">());</span>
    <span class="o">}</span>
<span class="o">});</span>
</code></pre>
<h3 id="good-practices" class="target">Good practices<a class="anchor" href="#good-practices" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>If your callback is slow, consider providing a separate executor.
Otherwise the callback might run on one of the driver’s I/O threads,
blocking I/O operations for other requests while it is running:</p>
<pre class="highlight"><code><span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">String</span><span class="o">&gt;</span> <span class="n">result</span> <span class="o">=</span> <span class="n">Futures</span><span class="o">.</span><span class="na">transform</span><span class="o">(</span><span class="n">resultSet</span><span class="o">,</span>
    <span class="k">new</span> <span class="n">Function</span><span class="o">&lt;</span><span class="n">ResultSet</span><span class="o">,</span> <span class="n">String</span><span class="o">&gt;()</span> <span class="o">{</span>
        <span class="kd">public</span> <span class="n">String</span> <span class="n">apply</span><span class="o">(</span><span class="n">ResultSet</span> <span class="n">rs</span><span class="o">)</span> <span class="o">{</span>
            <span class="k">return</span> <span class="n">someVeryLongComputation</span><span class="o">(</span><span class="n">rs</span><span class="o">);</span>
        <span class="o">}</span>
    <span class="o">},</span> <span class="n">myCustomExecutor</span><span class="o">);</span>
</code></pre>
<p>Avoid blocking operations in callbacks, especially if you don’t provide
a separate executor. This could easily lead to deadlock if the thread
that’s supposed to complete the blocking call is also the thread that’s
waiting on it:</p>
<pre class="highlight"><code><span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">ResultSet</span><span class="o">&gt;</span> <span class="n">resultSet</span> <span class="o">=</span> <span class="n">Futures</span><span class="o">.</span><span class="na">transform</span><span class="o">(</span><span class="n">session</span><span class="o">,</span>
    <span class="k">new</span> <span class="n">Function</span><span class="o">&lt;</span><span class="n">Session</span><span class="o">,</span> <span class="n">ResultSet</span><span class="o">&gt;()</span> <span class="o">{</span>
        <span class="kd">public</span> <span class="n">ResultSet</span> <span class="n">apply</span><span class="o">(</span><span class="n">Session</span> <span class="n">session</span><span class="o">)</span> <span class="o">{</span>
            <span class="c1">// Synchronous operation in a callback.</span>
            <span class="c1">// DON'T DO THIS! It might deadlock.</span>
            <span class="k">return</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span><span class="s">"select release_version from system.local"</span><span class="o">);</span>
        <span class="o">}</span>
    <span class="o">});</span>
</code></pre>
<h3 id="known-limitations" class="target">Known limitations<a class="anchor" href="#known-limitations" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>There are still a few places where the driver will block internally
(mainly for historical reasons):</p>

<ul>
<li>
<a href="http://docs.datastax.com/en/drivers/java/2.0/com/datastax/driver/core/Cluster.html#init()">Cluster#init</a> performs blocking I/O operations. To avoid
issues, you should create your <code>Cluster</code> instances while bootstrapping
your application, and call <code>init</code> immediately. If you need to create new
instances at runtime, make sure this does not happen on an I/O thread.</li>
<li>if a connection pool is busy, the driver will block until a connection
becomes available. To avoid this, set
<a href="http://docs.datastax.com/en/drivers/java/2.0/com/datastax/driver/core/PoolingOptions.html#setPoolTimeoutMillis(int)">PoolingOptions.poolTimeoutMillis</a> to 0; the
driver will not block, just move to the next host immediately.</li>
<li>if the session is set to a specific keyspace (either at startup or by
issuing a <code>USE</code> statement on a running session), the keyspace needs to
be propagated to any newly created connection. This is done when the
connection is first borrowed from the connection pool, and currently
blocks. To avoid any issue, only use a session with no keyspace set
(i.e. created by <code>Cluster#connect()</code>). This will be addressed in
<a href="https://datastax-oss.atlassian.net/browse/JAVA-893">JAVA-893</a>.</li>
<li>trying to read fields from a <a href="http://docs.datastax.com/en/drivers/java/2.0/com/datastax/driver/core/QueryTrace.html">query trace</a> will block if the trace
hasn’t been fetched already.</li>
</ul>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
