<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Using the mapper</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../../"><img alt="Brand" src="../../../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.1.9')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.1.9
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../../../features/object_mapper/using/">3.0.0-alpha5</a></li>
                  
                    <li><a href="../../../../2.2.0-rc3/features/object_mapper/using/">2.2.0-rc3</a></li>
                  
                    <li><a href="../../../../2.2.0-rc2/features/object_mapper/using/">2.2.0-rc2</a></li>
                  
                    <li><a href="../../../../2.2.0-rc1/">2.2.0-rc1</a></li>
                  
                    <li class="disabled"><a href="./">2.1.9</a></li>
                  
                    <li><a href="../../../../2.1.8/features/object_mapper/using/">2.1.8</a></li>
                  
                    <li><a href="../../../../2.1.7/features/object_mapper/using/">2.1.7</a></li>
                  
                    <li><a href="../../../../2.1.6/">2.1.6</a></li>
                  
                    <li><a href="../../../../2.1.5/">2.1.5</a></li>
                  
                    <li><a href="../../../../2.0.12/">2.0.12</a></li>
                  
                    <li><a href="../../../../2.0.11/">2.0.11</a></li>
                  
                    <li><a href="../../../../2.0.10.1/">2.0.10.1</a></li>
                  
                    <li><a href="../../../../2.0.10/">2.0.10</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../../">Home</a></li>
              
              
              
              
              
              <li><a href="../../">Features</a></li>
              
              
              
              
              
              <li><a href="../">Object Mapper</a></li>
              
              
              
              
              
              <li class="active">Using the mapper</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li>
<a href="#using-the-mapper">Using the mapper
</a><ul class="nav nav-pills nav-stacked">
<li>
<a href="#entity-mappers">Entity mappers
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#basic-crud-operations">Basic CRUD operations
</a></li>
<li><a href="#mapper-options">Mapper options
</a></li>
<li><a href="#access-to-underlying-statements">Access to underlying Statements
</a></li>
<li><a href="#manual-mapping">Manual mapping
</a></li>
</ul>
</li>
<li><a href="#udt-mappers">UDT Mappers
</a></li>
<li>
<a href="#accessors">Accessors
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#parameters">Parameters
</a></li>
<li><a href="#return-type">Return type
</a></li>
<li><a href="#customizing-the-statement">Customizing the statement
</a></li>
</ul>
</li>
</ul>
</li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../../changelog/">Changelog <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../address_resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../async/">Asynchronous programming <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../compression/">Compression <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../logging/">Logging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../metadata/">Metadata <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../native_protocol/">Native protocol <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Object Mapper <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../creating/">Definition of mapped classes <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Using the mapper <small>page</small></a>
    
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../paging/">Paging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../query_timestamps/">Query timestamps <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../ssl/">SSL <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../speculative_execution/">Speculative query execution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../statements/">Statements <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../shaded_jar/">Using the shaded JAR <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../../faq/">Frequently Asked Questions <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../../upgrade_guide/">Upgrade guide <small>page</small></a>
  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="using-the-mapper" class="target">Using the mapper<a class="anchor" href="#using-the-mapper" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>First, create a <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/mapping/MappingManager.html">MappingManager</a>. It wraps an existing <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/core/Session.html">Session</a>
instance:</p>
<pre class="highlight"><code><span class="n">MappingManager</span> <span class="n">manager</span> <span class="o">=</span> <span class="k">new</span> <span class="n">MappingManager</span><span class="o">(</span><span class="n">session</span><span class="o">);</span>
</code></pre>
<p><code>MappingManager</code> is thread-safe and can be safely shared throughout your
application. You would typically create one instance at startup, right
after your <code>Session</code>.</p>

<p>Note that <code>MappingManager</code> will initialize the <code>Session</code> if not
previously done (this was not the case in previous driver versions; if
this is a problem for you, see <code>MappingManager(session, protocolVersion)</code>).</p>

<h3 id="entity-mappers" class="target">Entity mappers<a class="anchor" href="#entity-mappers" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Each entity class (annotated with <code>@Table</code>) is managed by a dedicated
<a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/mapping/Mapper.html">Mapper</a> object. You obtain this object from the <code>MappingManager</code>:</p>
<pre class="highlight"><code><span class="n">Mapper</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;</span> <span class="n">mapper</span> <span class="o">=</span> <span class="n">manager</span><span class="o">.</span><span class="na">mapper</span><span class="o">(</span><span class="n">User</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre>
<p><code>Mapper</code> objects are thread-safe. The manager caches them internally, so
calling <code>manager#mapper</code> more than once for the same class will return
the previously generated mapper.</p>

<h4 id="basic-crud-operations" class="target">Basic CRUD operations<a class="anchor" href="#basic-crud-operations" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>To save an object, use <code>Mapper#save</code>:</p>
<pre class="highlight"><code><span class="n">UUID</span> <span class="n">userId</span> <span class="o">=</span> <span class="o">...;</span>
<span class="n">User</span> <span class="n">u</span> <span class="o">=</span> <span class="k">new</span> <span class="n">User</span><span class="o">(</span><span class="n">userId</span><span class="o">,</span> <span class="s">"John Doe"</span><span class="o">,</span> <span class="k">new</span> <span class="n">Address</span><span class="o">(</span><span class="s">"street"</span><span class="o">,</span> <span class="mi">01000</span><span class="o">));</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">save</span><span class="o">(</span><span class="n">u</span><span class="o">);</span>
</code></pre>
<hr>

<p>To retrieve an object, use <code>Mapper#get</code>:</p>
<pre class="highlight"><code><span class="n">UUID</span> <span class="n">userId</span> <span class="o">=</span> <span class="o">...;</span>
<span class="n">User</span> <span class="n">u</span> <span class="o">=</span> <span class="n">mapper</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">userId</span><span class="o">);</span>
</code></pre>
<p><code>get</code>’s arguments must match the partition key components (number of
arguments and their types).</p>

<hr>

<p>To delete a row in a table, use <code>Mapper#delete</code>. This method support
deleting a row given either its primary keys, or the object to delete:</p>
<pre class="highlight"><code><span class="n">UUID</span> <span class="n">userId</span> <span class="o">=</span> <span class="o">...;</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">delete</span><span class="o">(</span><span class="n">userId</span><span class="o">);</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">delete</span><span class="o">(</span><span class="n">u</span><span class="o">);</span>
</code></pre>
<hr>

<p>All these CRUD operations are synchronous, but the <code>Mapper</code> provides
their asynchronous equivalents:</p>
<pre class="highlight"><code><span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">Void</span><span class="o">&gt;</span> <span class="n">saveFuture</span> <span class="o">=</span> <span class="n">mapper</span><span class="o">.</span><span class="na">saveAsync</span><span class="o">(</span><span class="n">u</span><span class="o">);</span>
<span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;</span> <span class="n">userFuture</span> <span class="o">=</span> <span class="n">mapper</span><span class="o">.</span><span class="na">getAsync</span><span class="o">(</span><span class="n">userId</span><span class="o">);</span>
<span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">Void</span><span class="o">&gt;</span> <span class="n">deleteFuture</span> <span class="o">=</span> <span class="n">mapper</span><span class="o">.</span><span class="na">deleteAsync</span><span class="o">(</span><span class="n">userId</span><span class="o">);</span>
</code></pre>
<h4 id="mapper-options" class="target">Mapper options<a class="anchor" href="#mapper-options" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>The basic CRUD operations accept additional options to customize the
underlying query:</p>

<ul>
<li>
<code>ttl</code>: add a time-to-live value for the operation.</li>
<li>
<code>timestamp</code>: add a timestamp value for the operation.</li>
<li>
<code>consistencyLevel</code>: specify a consistency level.</li>
<li>
<code>tracing</code>: set tracing flag for the query.</li>
<li>
<code>saveNullFields</code>: if set to true, fields with value <code>null</code> in an
instance that is to be persisted will be explicitly written as <code>null</code>
in the query. If set to false, fields with null value won’t be included
in the write query (thus avoiding tombstones).  If not specified, the 
default behavior is to persist <code>null</code> fields.</li>
</ul>

<p>To use options, add them to the mapper call after regular parameters:</p>
<pre class="highlight"><code><span class="kn">import</span> <span class="nn">static</span> <span class="n">com</span><span class="o">.</span><span class="na">datastax</span><span class="o">.</span><span class="na">driver</span><span class="o">.</span><span class="na">mapping</span><span class="o">.</span><span class="na">Mapper</span><span class="o">.</span><span class="na">Option</span><span class="o">.*;</span>

<span class="n">mapper</span><span class="o">.</span><span class="na">save</span><span class="o">(</span><span class="k">new</span> <span class="n">User</span><span class="o">(</span><span class="n">userId</span><span class="o">,</span> <span class="s">"helloworld"</span><span class="o">),</span>
            <span class="n">timestamp</span><span class="o">(</span><span class="mi">123456L</span><span class="o">),</span> <span class="n">tracing</span><span class="o">(</span><span class="kc">true</span><span class="o">),</span> <span class="n">ttl</span><span class="o">(</span><span class="mi">42</span><span class="o">));</span>
</code></pre>
<p>Some options don’t apply to all operations:</p>

<table border="1" style="text-align:center; width:100%;margin-bottom:1em;">
    <tr> <td><b>Option</b></td>    <td><b>save/saveQuery</b></td> <td><b>get/getQuery</b></td> <td><b>delete/deleteQuery</b></td>
</tr>
    <tr> <td>Ttl</td>              <td>yes</td>                   <td>no</td>                  <td>no</td> </tr>
    <tr> <td>Timestamp</td>        <td>yes</td>                   <td>no</td>                  <td>yes</td> </tr>
    <tr> <td>ConsistencyLevel</td> <td>yes</td>                   <td>yes</td>                 <td>yes</td> </tr>
    <tr> <td>Tracing</td>          <td>yes</td>                   <td>yes</td>                 <td>yes</td> </tr>
    <tr> <td>SaveNullFields</td>   <td>yes</td>                   <td>no</td>                  <td>no</td> </tr>
</table>

<p>Note that <code>Option.consistencyLevel</code> is redundant with the consistency
level defined by <a href="../creating/#creating-a-table-entity">@Table</a>.
If both are defined, the option will take precedence over the
annotation.</p>

<p>Default options can be defined for each type of operation:</p>
<pre class="highlight"><code><span class="n">mapper</span><span class="o">.</span><span class="na">setDefaultGetOption</span><span class="o">(</span><span class="n">tracing</span><span class="o">(</span><span class="kc">true</span><span class="o">),</span> <span class="n">consistencyLevel</span><span class="o">(</span><span class="n">QUORUM</span><span class="o">));</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">setDefaultSaveOption</span><span class="o">(</span><span class="n">saveNullFields</span><span class="o">(</span><span class="kc">false</span><span class="o">));</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">setDefaultDeleteOption</span><span class="o">(</span><span class="n">consistencyLevel</span><span class="o">(</span><span class="n">ONE</span><span class="o">));</span>

<span class="c1">// Given the defaults above, this will use tracing(true), consistencyLevel(ONE)</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">uuid</span><span class="o">,</span> <span class="n">consistencyLevel</span><span class="o">(</span><span class="n">ONE</span><span class="o">));</span>
</code></pre>
<p>To reset default options, use the following methods:</p>
<pre class="highlight"><code><span class="n">mapper</span><span class="o">.</span><span class="na">resetDefaultGetOption</span><span class="o">();</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">resetDefaultSaveOption</span><span class="o">();</span>
<span class="n">mapper</span><span class="o">.</span><span class="na">resetDefaultDeleteOption</span><span class="o">();</span>
</code></pre>
<h4 id="access-to-underlying-statements" class="target">Access to underlying <code>Statement</code>s<a class="anchor" href="#access-to-underlying-statements" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>Instead of performing an operation directly, it’s possible to ask the
<code>Mapper</code> to just return the corresponding <code>Statement</code> object. This gives
the client a chance to customize the statement before executing it.</p>

<ul>
<li>
<code>Mapper.saveQuery(entity)</code>: returns a statement generated by the
mapper to save <code>entity</code> into the database.</li>
<li>
<code>Mapper.getQuery(userId)</code>: returns a statement to select a row in the
database, selected on the given <code>userId</code>, and matching the mapped
object structure.</li>
<li>
<code>Mapper.deleteQuery(userID)</code>: returns a statement delete a row in the
database given the <code>userId</code> provided. This method can also accept a
mapped object instance.</li>
</ul>

<h4 id="manual-mapping" class="target">Manual mapping<a class="anchor" href="#manual-mapping" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p><code>Mapper#map</code> provides a way to converts the results of a regular query:</p>
<pre class="highlight"><code><span class="n">ResultSet</span> <span class="n">results</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span><span class="s">"SELECT * FROM user"</span><span class="o">);</span>
<span class="n">Result</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;</span> <span class="n">users</span> <span class="o">=</span> <span class="n">mapper</span><span class="o">.</span><span class="na">map</span><span class="o">(</span><span class="n">results</span><span class="o">);</span>
<span class="k">for</span> <span class="o">(</span><span class="n">User</span> <span class="n">u</span> <span class="o">:</span> <span class="n">users</span><span class="o">)</span> <span class="o">{</span>
    <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">println</span><span class="o">(</span><span class="s">"User : "</span> <span class="o">+</span> <span class="n">u</span><span class="o">.</span><span class="na">getUserId</span><span class="o">());</span>
<span class="o">}</span>
</code></pre>
<p>This method will ignore:</p>

<ul>
<li>extra columns in the <code>ResultSet</code> that are not mapped for this entity.</li>
<li>mapped fields that are not present in the <code>ResultSet</code> (setters won’t
be called so the value will be the one after invocation of the class’s
default constructor).</li>
</ul>

<p><a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/mapping/Result.html">Result</a> is similar to <code>ResultSet</code> but for a given mapped class.
It provides methods <code>one()</code>, <code>all()</code>, <code>iterator()</code>, <code>getExecutionInfo()</code>
and <code>isExhausted()</code>. Note that iterating the <code>Result</code> will consume the
<code>ResultSet</code>, and vice-versa.</p>

<h3 id="udt-mappers" class="target">UDT Mappers<a class="anchor" href="#udt-mappers" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>A UDT will be automatically mapped when it is part of a table-level
class (as shown <a href="../creating/#mapping-user-types">here</a>).</p>

<p>However, there might be cases where it is useful to convert a mapped
instance to the corresponding <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/core/UDTValue.html">UDTValue</a> (and back). The
mapper provides an <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/mapping/UDTMapper.html">UDTMapper</a> for that purpose:</p>
<pre class="highlight"><code><span class="n">UDTMapper</span><span class="o">&lt;</span><span class="n">Address</span><span class="o">&gt;</span> <span class="n">addressMapper</span> <span class="o">=</span> <span class="n">manager</span><span class="o">.</span><span class="na">getUDTMapper</span><span class="o">(</span><span class="n">Address</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">Address</span> <span class="n">address</span> <span class="o">=</span> <span class="n">addressMapper</span><span class="o">.</span><span class="na">fromUDT</span><span class="o">(</span><span class="n">udtValue</span><span class="o">);</span>
<span class="n">UDTValue</span> <span class="n">value</span> <span class="o">=</span> <span class="n">addressMapper</span><span class="o">.</span><span class="na">toUDT</span><span class="o">(</span><span class="n">address</span><span class="o">);</span>
</code></pre>
<h3 id="accessors" class="target">Accessors<a class="anchor" href="#accessors" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><code>Accessor</code>s provide a way to map custom queries not supported by the
default entity mappers.</p>

<p>To create an accessor, define a Java interface and annotate each method
to provide the corresponding CQL query:</p>
<pre class="highlight"><code><span class="nd">@Accessor</span>
<span class="kd">public</span> <span class="kd">interface</span> <span class="nc">UserAccessor</span> <span class="o">{</span>
    <span class="nd">@Query</span><span class="o">(</span><span class="s">"SELECT * FROM user"</span><span class="o">)</span>
    <span class="n">Result</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;</span> <span class="n">getAll</span><span class="o">();</span>
<span class="o">}</span>
</code></pre>
<p>The <code>MappingManager</code> can then process this class and generate an
implementation:</p>
<pre class="highlight"><code><span class="n">UserAccessor</span> <span class="n">userAccessor</span> <span class="o">=</span> <span class="n">manager</span><span class="o">.</span><span class="na">createAccessor</span><span class="o">(</span><span class="n">UserAccessor</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
<span class="n">User</span> <span class="n">user</span> <span class="o">=</span> <span class="n">userAccessor</span><span class="o">.</span><span class="na">getOne</span><span class="o">(</span><span class="n">uuid</span><span class="o">);</span>
</code></pre>
<p>Like mappers, accessors are cached at the manager level and thus, are
thread-safe/sharable.</p>

<h4 id="parameters" class="target">Parameters<a class="anchor" href="#parameters" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>A query can have bind markers, that will be set with the method’s
arguments.</p>

<p>With unnamed markers, the order of the arguments must match the order of
the markers:</p>
<pre class="highlight"><code><span class="nd">@Query</span><span class="o">(</span><span class="s">"insert into user (id, name) values (?, ?)"</span><span class="o">)</span>
<span class="n">ResultSet</span> <span class="nf">insert</span><span class="p">(</span><span class="n">UUID</span> <span class="n">userId</span><span class="o">,</span> <span class="n">String</span> <span class="n">name</span><span class="o">);</span>
</code></pre>
<p>With named markers, use <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/mapping/annotations/Param.html">@Param</a> to indicate which parameter
corresponds to which marker:</p>
<pre class="highlight"><code><span class="nd">@Query</span><span class="o">(</span><span class="s">"insert into user (userId, name) values (:u, :n)"</span><span class="o">)</span>
<span class="n">ResultSet</span> <span class="nf">insert</span><span class="p">(</span><span class="nd">@Param</span><span class="o">(</span><span class="s">"u"</span><span class="o">)</span> <span class="n">UUID</span> <span class="n">userId</span><span class="o">,</span> <span class="nd">@Param</span><span class="o">(</span><span class="s">"n"</span><span class="o">)</span> <span class="n">String</span> <span class="n">name</span><span class="o">);</span>
</code></pre>
<p>If a method argument is a Java enumeration, it must be annotated with
<code>@Enumerated</code> to indicate how to convert it to a CQL type (the rules are
the same as in <a href="../creating/#enumerations">mapping definition</a>):</p>
<pre class="highlight"><code><span class="nd">@Query</span><span class="o">(</span><span class="s">"insert into user (key, gender) values (?,?)"</span><span class="o">)</span>
<span class="n">ResultSet</span> <span class="nf">addUser</span><span class="p">(</span><span class="kt">int</span> <span class="n">key</span><span class="o">,</span> <span class="nd">@Enumerated</span><span class="o">(</span><span class="n">EnumType</span><span class="o">.</span><span class="na">ORDINAL</span><span class="o">)</span> <span class="n">Enum</span> <span class="n">value</span><span class="o">);</span>
</code></pre>
<h4 id="return-type" class="target">Return type<a class="anchor" href="#return-type" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>The declared return type of each method affects how the query will get
executed:</p>

<table border="1" style="text-align:center; width:100%;margin-bottom:1em;">
    <tr> <td><b>Return type</b></td>            <td><b>Effect</b></td> </tr>
    <tr>
      <td><code>void</code></td>
      <td>Synchronous execution, discards the results of the query.</td>
    </tr>
    <tr>
      <td><code>ResultSet</code></td>
      <td>Synchronous execution, returns unmapped results.</td>
    </tr>
    <tr>
      <td><code>T</code></td>
      <td>
<code>T</code> must be a mapped class.<br>Synchronous execution, returns the first row (or <code>null</code> if there are no results).</td>
    </tr>
    <tr>
      <td><code>Result&lt;T&gt;</code></td>
      <td>
<code>T</code> must be a mapped class.<br>Synchronous execution, returns a list of mapped objects.</td>
    </tr>
    <tr>
      <td><code>ResultSetFuture</code></td>
      <td>Asynchronous execution, returns unmapped results.</td>
    </tr>
    <tr>
      <td><code>ListenableFuture&lt;T&gt;</code></td>
      <td>
<code>T</code> must be a mapped class.<br>Asynchronous execution, returns the first row (or <code>null</code> if there are no results).</td>
    </tr>
    <tr>
      <td><code>ListenableFuture&lt;Result&lt;T&gt;&gt;</code></td>
      <td>
<code>T</code> must be a mapped class.<br>Asynchronous execution, returns a list of mapped objects.</td>
    </tr>
</table>

<p>Example:</p>
<pre class="highlight"><code><span class="nd">@Query</span><span class="o">(</span><span class="s">"SELECT * FROM user"</span><span class="o">)</span>
<span class="kd">public</span> <span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">Result</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;&gt;</span> <span class="n">getAllAsync</span><span class="o">();</span>
</code></pre>
<h4 id="customizing-the-statement" class="target">Customizing the statement<a class="anchor" href="#customizing-the-statement" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>It is possible to customize query parameters to include in a <code>Accessor</code>
query with the annotation <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/mapping/annotations/QueryParameters.html">@QueryParameters</a>. Then, options like
<em>consistency level</em>, <em>fetchsize</em> or <em>tracing</em> are settable:</p>
<pre class="highlight"><code><span class="nd">@Query</span><span class="o">(</span><span class="s">"SELECT * FROM ks.users"</span><span class="o">)</span>
<span class="nd">@QueryParameters</span><span class="o">(</span><span class="n">consistency</span><span class="o">=</span><span class="s">"QUORUM"</span><span class="o">)</span>
<span class="kd">public</span> <span class="n">ListenableFuture</span><span class="o">&lt;</span><span class="n">Result</span><span class="o">&lt;</span><span class="n">User</span><span class="o">&gt;&gt;</span> <span class="n">getAllAsync</span><span class="o">();</span>
</code></pre>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
