<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Native protocol</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('3.0.0-alpha4')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    3.0.0-alpha4
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li class="disabled"><a href="./">3.0.0-alpha4</a></li>
                  
                    <li><a href="../../2.2.0-rc3/features/native_protocol/">2.2.0-rc3</a></li>
                  
                    <li><a href="../../2.2.0-rc2/features/native_protocol/">2.2.0-rc2</a></li>
                  
                    <li><a href="../../2.2.0-rc1/features/native_protocol/">2.2.0-rc1</a></li>
                  
                    <li><a href="../../2.1.9/features/native_protocol/">2.1.9</a></li>
                  
                    <li><a href="../../2.1.8/features/native_protocol/">2.1.8</a></li>
                  
                    <li><a href="../../2.1.7/features/native_protocol/">2.1.7</a></li>
                  
                    <li><a href="../../2.1.6/features/native_protocol/">2.1.6</a></li>
                  
                    <li><a href="../../2.1.5/">2.1.5</a></li>
                  
                    <li><a href="../../2.0.12/features/native_protocol/">2.0.12</a></li>
                  
                    <li><a href="../../2.0.11/features/native_protocol/">2.0.11</a></li>
                  
                    <li><a href="../../2.0.10.1/features/native_protocol/">2.0.10.1</a></li>
                  
                    <li><a href="../../2.0.10/">2.0.10</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Native protocol</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li>
<a href="#native-protocol">Native protocol
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#compatibility-matrix">Compatibility matrix
</a></li>
<li>
<a href="#controlling-the-protocol-version">Controlling the protocol version
</a><ul class="nav nav-pills nav-stacked"><li><a href="#protocol-version-with-mixed-clusters">Protocol version with mixed clusters
</a></li></ul>
</li>
<li>
<a href="#new-features-by-protocol-version">New features by protocol version
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#v1-to-v2">v1 to v2
</a></li>
<li><a href="#v2-to-v3">v2 to v3
</a></li>
<li><a href="#v3-to-v4">v3 to v4
</a></li>
</ul>
</li>
</ul>
</li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li><a href="../../changelog/">Changelog <small>page</small></a></li>
  
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li><a href="../address_resolution/">Address resolution <small>page</small></a></li>
  
  
  
  
  <li><a href="../async/">Asynchronous programming <small>page</small></a></li>
  
  
  
  
  <li><a href="../compression/">Compression <small>page</small></a></li>
  
  
  
  
  <li><a href="../pooling/">Connection pooling <small>page</small></a></li>
  
  
  
  
  <li><a href="../custom_codecs/">Custom Codecs <small>page</small></a></li>
  
  
  
  
  <li><a href="../custom_payloads/">Custom Payloads <small>page</small></a></li>
  
  
  
  
  <li><a href="../logging/">Logging <small>page</small></a></li>
  
  
  
  
  <li><a href="../metadata/">Metadata <small>page</small></a></li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Native protocol <small>page</small></a>
    
  </li>
  
  
  
  
  <li><a href="../object_mapper/">Object Mapper <small>page</small></a></li>
  
  
  
  
  <li><a href="../paging/">Paging <small>page</small></a></li>
  
  
  
  
  <li><a href="../query_timestamps/">Query timestamps <small>page</small></a></li>
  
  
  
  
  <li><a href="../speculative_execution/">Speculative query execution <small>page</small></a></li>
  
  
  
  
  <li><a href="../statements/">Statements <small>page</small></a></li>
  
  
  
  
  <li><a href="../shaded_jar/">Using the shaded JAR <small>page</small></a></li>
  
  
</ul>

  </li>
  
  
  
  
  <li><a href="../../faq/">Frequently Asked Questions <small>page</small></a></li>
  
  
  
  
  <li><a href="../../upgrade_guide/">Upgrade guide <small>page</small></a></li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="native-protocol" class="target">Native protocol<a class="anchor" href="#native-protocol" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The native protocol defines the format of the binary messages exchanged
between the driver and Cassandra over TCP. As a driver user, you don’t
need to know the fine details (although the protocol spec is <a href="https://github.com/apache/cassandra/tree/trunk/doc">in the
Cassandra codebase</a> if you’re curious); the most visible
aspect is that some features are only available with specific protocol
versions.</p>

<h3 id="compatibility-matrix" class="target">Compatibility matrix<a class="anchor" href="#compatibility-matrix" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>By default, the protocol version is negotiated between the driver and
Cassandra when the first connection is established. Both sides are
backward-compatible with older versions:</p>

<table border="1" style="text-align:center; width:100%;margin-bottom:1em;">
<tr>
<td> </td>
<td>Cassandra: 1.2.x<br>(DSE 3.2)</td>
<td>2.0.x<br>(DSE 4.0 to 4.6)</td>
<td>2.1.x<br>(DSE 4.7)</td>
<td>2.2.x</td>
</tr>
<tr>
<td>Driver: 1.0.x</td> <td>v1</td> <td>v1</td>  <td>v1</td> <td>v1</td> </tr>
<tr>
<td>2.0.x to 2.1.1</td> <td>v1</td> <td>v2</td>  <td>v2</td> <td>v2</td> </tr>
<tr>
<td>2.1.2 to 2.2.0</td> <td>v1</td> <td>v2</td>  <td>v3</td> <td>v3</td> </tr>
<tr>
<td>2.2.0 or more</td> <td>v1</td> <td>v2</td>  <td>v3</td> <td>v4</td> </tr>
</table>

<p>For example, if you use version 2.1.5 of the driver to connect to
Cassandra 2.0.9, the maximum version you can use (and the one you’ll get
by default) is protocol v2 (last line, middle column). If you use the
same version to connect to Cassandra 2.1.4, you can use protocol v3.</p>

<h3 id="controlling-the-protocol-version" class="target">Controlling the protocol version<a class="anchor" href="#controlling-the-protocol-version" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>To find out which version you’re currently using, use
<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/ProtocolOptions.html#getProtocolVersion()">ProtocolOptions#getProtocolVersion()</a>:</p>
<pre class="highlight"><code><span class="n">ProtocolVersion</span> <span class="n">myCurrentVersion</span> <span class="o">=</span> <span class="n">cluster</span><span class="o">.</span><span class="na">getConfiguration</span><span class="o">()</span>
    <span class="o">.</span><span class="na">getProtocolOptions</span><span class="o">()</span>
    <span class="o">.</span><span class="na">getProtocolVersionEnum</span><span class="o">();</span>
</code></pre>
<p>The protocol version can not be changed at runtime. However, you can
force a given version at initialization:</p>
<pre class="highlight"><code><span class="n">Cluster</span> <span class="n">cluster</span> <span class="o">=</span> <span class="n">Cluster</span><span class="o">.</span><span class="na">builder</span><span class="o">()</span>
    <span class="o">.</span><span class="na">addContactPoint</span><span class="o">(</span><span class="s">"127.0.0.1"</span><span class="o">)</span>
    <span class="o">.</span><span class="na">withProtocolVersion</span><span class="o">(</span><span class="n">ProtocolVersion</span><span class="o">.</span><span class="na">V2</span><span class="o">)</span>
    <span class="o">.</span><span class="na">build</span><span class="o">();</span>
</code></pre>
<p>If you specify a version that is not compatible with your current
driver/Cassandra combination, you’ll get an error:</p>
<pre><code>Exception in thread "main" com.datastax.driver.core.exceptions.NoHostAvailableException:
All host(s) tried for query failed
(tried: /127.0.0.1:9042 (com.datastax.driver.core.UnsupportedProtocolVersionException:
  [/127.0.0.1:9042] Host /127.0.0.1:9042 does not support protocol version V3 but V2))
</code></pre>
<h4 id="protocol-version-with-mixed-clusters" class="target">Protocol version with mixed clusters<a class="anchor" href="#protocol-version-with-mixed-clusters" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>If you have a cluster with mixed versions (for example, while doing a
rolling upgrade of Cassandra), note that <strong>the protocol version will be
negotiated with the first host the driver connects to</strong>.</p>

<p>This could lead to the following situation (assuming you use driver
2.1.2+):</p>

<ul>
<li>the first contact point is a 2.1 host, so the driver negotiates
protocol v3;</li>
<li>while connecting to the rest of the cluster, the driver contacts a 2.0
host using protocol v3, which fails; an error is logged and this host
will be permanently ignored.</li>
</ul>

<p>To avoid this issue, you can use one the following workarounds:</p>

<ul>
<li>always force a protocol version at startup. You keep it at v2 while
the rolling upgrade is happening, and only switch to v3 when the whole
cluster has switched to Cassandra 2.1;</li>
<li>ensure that the list of initial contact points only contains hosts
with the oldest version (2.0 in this example).</li>
</ul>

<h3 id="new-features-by-protocol-version" class="target">New features by protocol version<a class="anchor" href="#new-features-by-protocol-version" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<h4 id="v1-to-v2" class="target">v1 to v2<a class="anchor" href="#v1-to-v2" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<ul>
<li>bound variables in simple statements
(<a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/Session.html#execute(java.lang.String,%20java.lang.Object...)">Session#execute(String, Object…)</a>)</li>
<li><a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/BatchStatement.html">batch statements</a></li>
<li><a href="../paging/">query paging</a></li>
</ul>

<h4 id="v2-to-v3" class="target">v2 to v3<a class="anchor" href="#v2-to-v3" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<ul>
<li>the number of stream ids per connection goes from 128 to 32768 (see
<a href="../pooling/">Connection pooling</a>)</li>
<li><a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/BatchStatement.html#setSerialConsistencyLevel(com.datastax.driver.core.ConsistencyLevel)">serial consistency on batch statements</a></li>
<li><a href="../query_timestamps/">client-side timestamps</a></li>
</ul>

<h4 id="v3-to-v4" class="target">v3 to v4<a class="anchor" href="#v3-to-v4" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<ul>
<li><a href="http://docs.datastax.com/en/drivers/java/2.2/com/datastax/driver/core/ExecutionInfo.html#getWarnings()">query warnings</a></li>
<li>allowed unset values in bound statements</li>
<li><a href="../custom_payloads/">Custom payloads</a></li>
</ul>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
