<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright DataStax, Inc.

    This software can be used solely with DataStax Enterprise. Please consult the license at
    http://www.datastax.com/terms/datastax-dse-driver-license-terms

-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="org.apache.directory" level="${adsServerLevel:-ERROR}"/>
  <logger name="com.datastax.oss.driver" level="${ossDriverLevel:-ERROR}"/>
  <logger name="com.datastax.dse.driver" level="${dseDriverLevel:-ERROR}"/>
  <!-- Set this logger to DEBUG to help debugging OSGi tests -->
  <logger name="org.ops4j" level="ERROR"/>
</configuration>
