<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="High performance Java client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Java Driver for Apache Cassandra - Frequently Asked Questions</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../"><img alt="Brand" src="../../img/logo.png">Java Driver for Apache Cassandra</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.1.10.1')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2.1.10.1
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li><a href="../../faq/">3.0.0</a></li>
                  
                    <li class="disabled"><a href="./">2.1.10.1</a></li>
                  
                    <li><a href="../../2.1.10/faq/">2.1.10</a></li>
                  
                    <li><a href="../../2.1.9/faq/">2.1.9</a></li>
                  
                    <li><a href="../../2.1.8/faq/">2.1.8</a></li>
                  
                    <li><a href="../../2.1.7/faq/">2.1.7</a></li>
                  
                    <li><a href="../../2.0.12.1/faq/">2.0.12.1</a></li>
                  
                    <li><a href="../../2.0.12/faq/">2.0.12</a></li>
                  
                    <li><a href="../../2.0.11/faq/">2.0.11</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../">Home</a></li>
              
              
              
              
              
              <li class="active">Frequently Asked Questions</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li>
<a href="#frequently-asked-questions">Frequently Asked Questions
</a><ul class="nav nav-pills nav-stacked">
<li><a href="#how-do-i-implement-paging">How do I implement paging?
</a></li>
<li><a href="#can-i-check-if-a-conditional-statement-lightweight-transaction-was-successful">Can I check if a conditional statement (lightweight transaction) was successful?
</a></li>
<li><a href="#what-is-a-parameterized-statement-and-how-can-i-use-it">What is a parameterized statement and how can I use it?
</a></li>
<li><a href="#does-a-parameterized-statement-escape-parameters">Does a parameterized statement escape parameters?
</a></li>
<li><a href="#what-s-the-difference-between-a-parameterized-statement-and-a-prepared-statement">What’s the difference between a parameterized statement and a Prepared statement?
</a></li>
<li><a href="#can-i-combine-prepared-statements-and-normal-statements-in-a-batch">Can I combine PreparedStatements and normal statements in a batch?
</a></li>
<li><a href="#can-i-get-the-raw-bytes-of-a-text-column">Can I get the raw bytes of a text column?
</a></li>
<li><a href="#how-do-i-increment-counters-with-query-builder">How do I increment counters with QueryBuilder?
</a></li>
<li><a href="#is-there-a-way-to-control-the-batch-size-of-the-results-returned-from-a-query">Is there a way to control the batch size of the results returned from a query?
</a></li>
<li><a href="#what-s-the-difference-between-using-set-fetch-size-and-limit">What’s the difference between using setFetchSize() and LIMIT?
</a></li>
</ul>
</li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../changelog/">Changelog <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Frequently Asked Questions <small>page</small></a>
    
  </li>
  
  
  
  
  <li>
    <a href="../manual/">Manual <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../upgrade_guide/">Upgrade guide <small>page</small></a>
  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h2 id="frequently-asked-questions" class="target">Frequently Asked Questions<a class="anchor" href="#frequently-asked-questions" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<h3 id="how-do-i-implement-paging" class="target">How do I implement paging?<a class="anchor" href="#how-do-i-implement-paging" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>When using <a href="../manual/native_protocol/">native protocol</a> version 2 or
higher, the driver automatically pages large result sets under the hood.
You can also save the paging state to resume iteration later. See <a href="../manual/paging/">this
page</a> for more information.</p>

<p>Native protocol v1 does not support paging, but you can emulate it in
CQL with <code>LIMIT</code> and the <code>token()</code> function. See
<a href="https://groups.google.com/a/lists.datastax.com/d/msg/java-driver-user/U2KzAHruWO4/6vDmUVDDkOwJ">this conversation</a> on the mailing list.</p>

<h3 id="can-i-check-if-a-conditional-statement-lightweight-transaction-was-successful" class="target">Can I check if a conditional statement (lightweight transaction) was successful?<a class="anchor" href="#can-i-check-if-a-conditional-statement-lightweight-transaction-was-successful" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>When executing a conditional statement, the <code>ResultSet</code> will contain a single <code>Row</code> with a
column named “applied” of type boolean. This tells whether the conditional statement was
successful or not.</p>

<p>The driver provides a convenience method <a href="http://docs.datastax.com/en/drivers/java/2.1/com/datastax/driver/core/ResultSet.html#wasApplied--">wasApplied</a> to check this on the result set directly:</p>
<pre class="highlight"><code><span class="n">ResultSet</span> <span class="n">rset</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span><span class="n">conditionalStatement</span><span class="o">);</span>
<span class="n">rset</span><span class="o">.</span><span class="na">wasApplied</span><span class="o">();</span>
</code></pre>
<p>You may also inspect the value yourself:</p>
<pre class="highlight"><code><span class="n">ResultSet</span> <span class="n">rset</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span><span class="n">conditionalStatement</span><span class="o">);</span>
<span class="n">Row</span> <span class="n">row</span> <span class="o">=</span> <span class="n">rset</span><span class="o">.</span><span class="na">one</span><span class="o">();</span>
<span class="n">row</span><span class="o">.</span><span class="na">getBool</span><span class="o">(</span><span class="mi">0</span><span class="o">);</span>       <span class="c1">// this is equivalent row.getBool("applied")</span>
</code></pre>
<p>Note that, unlike manual inspection, <code>wasApplied</code> does not consume the first row.</p>

<h3 id="what-is-a-parameterized-statement-and-how-can-i-use-it" class="target">What is a parameterized statement and how can I use it?<a class="anchor" href="#what-is-a-parameterized-statement-and-how-can-i-use-it" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Starting with Cassandra 2.0, normal statements (that is non-prepared statements) do
not need to concatenate parameter values inside a query string. Instead you can use
<code>?</code> markers and provide the values separately:</p>
<pre class="highlight"><code><span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span> <span class="s">"INSERT INTO contacts (email, firstname, lastname)
      VALUES (?, ?, ?)"</span><span class="o">,</span> <span class="s">"clint.barton@hawkeye.com"</span><span class="o">,</span> <span class="s">"Barney"</span><span class="o">,</span> <span class="s">"Barton"</span><span class="o">);</span>
</code></pre>
<p>See <a href="../manual/statements/simple/">Simple statements</a> for more information.</p>

<h3 id="does-a-parameterized-statement-escape-parameters" class="target">Does a parameterized statement escape parameters?<a class="anchor" href="#does-a-parameterized-statement-escape-parameters" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>A parameterized statement sends the values of parameters separate from the query
(similar to the way a prepared statement does) as bytes so there is no need to escape
parameters.</p>

<h3 id="what-s-the-difference-between-a-parameterized-statement-and-a-prepared-statement" class="target">What’s the difference between a parameterized statement and a Prepared statement?<a class="anchor" href="#what-s-the-difference-between-a-parameterized-statement-and-a-prepared-statement" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The only similarity between a parameterized statement and a prepared statement is in
the way that the parameters are sent. The difference is that a prepared statement:</p>

<ul>
<li>is already known on the cluster side (it has been compiled and there is an execution
plan available for it) which leads to better performance</li>
<li>sends only the statement id and its parameters (thus reducing the amount of data sent
to the cluster)</li>
</ul>

<p>See <a href="../manual/statements/prepared/">Prepared statements</a> for more information.</p>

<h3 id="can-i-combine-prepared-statements-and-normal-statements-in-a-batch" class="target">Can I combine <code>PreparedStatements</code> and normal statements in a batch?<a class="anchor" href="#can-i-combine-prepared-statements-and-normal-statements-in-a-batch" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Yes. A batch can include both bound statements and simple statements:</p>
<pre class="highlight"><code><span class="n">PreparedStatement</span> <span class="n">ps</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="na">prepare</span><span class="o">(</span> <span class="s">"INSERT INTO contacts (email, firstname, lastname)
      VALUES (?, ?, ?)"</span><span class="o">);</span>
<span class="n">BatchStatement</span> <span class="n">batch</span> <span class="o">=</span> <span class="k">new</span> <span class="n">BatchStatement</span><span class="o">();</span>
<span class="n">batch</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="n">ps</span><span class="o">.</span><span class="na">bind</span><span class="o">(...));</span>
<span class="n">batch</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="n">ps</span><span class="o">.</span><span class="na">bind</span><span class="o">(...));</span>
<span class="c1">// here's a simple statement </span>
<span class="n">batch</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">SimpleStatement</span><span class="o">(</span> <span class="s">"INSERT INTO contacts (email, firstname, lastname) VALUES (?, ?, ?)"</span><span class="o">,</span> <span class="o">...));</span>
<span class="n">session</span><span class="o">.</span><span class="na">execute</span><span class="o">(</span><span class="n">batch</span><span class="o">);</span>
</code></pre>
<h3 id="can-i-get-the-raw-bytes-of-a-text-column" class="target">Can I get the raw bytes of a text column?<a class="anchor" href="#can-i-get-the-raw-bytes-of-a-text-column" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>If you need to access the raw bytes of a text column, call the
<code>Row.getBytesUnsafe("columnName")</code> method.</p>

<p>Trying to use <code>Row.getBytes("columnName")</code> for the same purpose results in an
exception, as the <code>getBytes</code> method can only be used if the column has the CQL type <code>BLOB</code>.</p>

<h3 id="how-do-i-increment-counters-with-query-builder" class="target">How do I increment counters with <code>QueryBuilder</code>?<a class="anchor" href="#how-do-i-increment-counters-with-query-builder" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Considering the following query:</p>
<pre class="highlight"><code><span class="n">UPDATE</span> <span class="n">clickstream</span> <span class="n">SET</span> <span class="n">clicks</span> <span class="o">=</span> <span class="n">clicks</span> <span class="o">+</span> <span class="mi">1</span> <span class="n">WHERE</span> <span class="n">userid</span> <span class="o">=</span> <span class="n">id</span><span class="o">;</span>
</code></pre>
<p>To do this using <code>QueryBuilder</code>:</p>
<pre class="highlight"><code><span class="n">Statement</span> <span class="n">query</span> <span class="o">=</span> <span class="n">QueryBuilder</span><span class="o">.</span><span class="na">update</span><span class="o">(</span><span class="s">"clickstream"</span><span class="o">)</span>
                              <span class="o">.</span><span class="na">with</span><span class="o">(</span><span class="n">incr</span><span class="o">(</span><span class="s">"clicks"</span><span class="o">,</span> <span class="mi">1</span><span class="o">))</span> <span class="c1">// Use incr for counters</span>
                              <span class="o">.</span><span class="na">where</span><span class="o">(</span><span class="n">eq</span><span class="o">(</span><span class="s">"userid"</span><span class="o">,</span> <span class="n">id</span><span class="o">));</span>
</code></pre>
<h3 id="is-there-a-way-to-control-the-batch-size-of-the-results-returned-from-a-query" class="target">Is there a way to control the batch size of the results returned from a query?<a class="anchor" href="#is-there-a-way-to-control-the-batch-size-of-the-results-returned-from-a-query" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Use the <code>setFetchSize()</code> method on your <code>Statement</code> object. The fetch size controls
how many resulting rows are retrieved simultaneously (the goal being to avoid
loading too many results in memory for queries yielding large result sets).</p>

<p>Keep in mind that if your code iterates the <code>ResultSet</code> entirely, the driver may
run additional background queries to fetch the rest of the data. The fetch size
only affects what is retrieved at a time, not the overall number of rows.</p>

<p>See <a href="../manual/paging/">Paging</a> for more information.</p>

<h3 id="what-s-the-difference-between-using-set-fetch-size-and-limit" class="target">What’s the difference between using <code>setFetchSize()</code> and <code>LIMIT</code>?<a class="anchor" href="#what-s-the-difference-between-using-set-fetch-size-and-limit" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Basically, <code>LIMIT</code> controls the maximum number of results returned by the query,
while the <code>setFetchSize()</code> method controls the amount of data transferred at a time.</p>

<p>For example, if you limit is 30 and your fetch size is 10, the <code>ResultSet</code> will contain
30 rows, but under the hood the driver will perform 3 requests that will transfer 10
rows each.</p>

<p>See <a href="../manual/paging/">Paging</a> for more information.</p>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/java-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/java-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/JAVA/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/java-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
